# 1. Cleaning

Some notes about the clean dataset in **data/properties.csv** :

- There are about 76 000 properties, roughly equally spread across houses and apartments
- Each property has a unique identifier **id**
- The target variable is **price**
- Variables prefixed with **fl_** are dummy variables (1/0)
- Variables suffixed with **_sqm** indicate the measurement is in square meters
- All missing categories for the categorical variables are encoded as **MISSING**

## Exploring the dataset

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import csv

In [2]:
# Read the csv file
df = pd.read_csv("../data/properties.csv")

In [3]:
# Display the head
df.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,MISSING,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,NaN,MISSING,GAS,0,NaN
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,MISSING,99.0,A,MISSING,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN

In [4]:
print("There are {} rows of data".format(len(df)))

There are 75511 rows of data

In [5]:
# (rows,columns)
df.shape

(75511, 30)

In [6]:
# Describe index
df.index

RangeIndex(start=0, stop=75511, step=1)

In [7]:
# Describe columns
df.columns

Index(['id', 'price', 'property_type', 'subproperty_type', 'region',
       'province', 'locality', 'zip_code', 'latitude', 'longitude',
       'construction_year', 'total_area_sqm', 'surface_land_sqm',
       'nbr_frontages', 'nbr_bedrooms', 'equipped_kitchen', 'fl_furnished',
       'fl_open_fire', 'fl_terrace', 'terrace_sqm', 'fl_garden', 'garden_sqm',
       'fl_swimming_pool', 'fl_floodzone', 'state_building',
       'primary_energy_consumption_sqm', 'epc', 'heating_type',
       'fl_double_glazing', 'cadastral_income'],
      dtype='object')

In [8]:
# Info on df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75511 entries, 0 to 75510
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              75511 non-null  int64
 1   price                           75511 non-null  float64
 2   property_type                   75511 non-null  object
 3   subproperty_type                75511 non-null  object
 4   region                          75511 non-null  object
 5   province                        75511 non-null  object
 6   locality                        75511 non-null  object
 7   zip_code                        75511 non-null  int64
 8   latitude                        61413 non-null  float64
 9   longitude                       61413 non-null  float64
 10  construction_year               42120 non-null  float64
 11  total_area_sqm                  67896 non-null  float64
 12  surface_land_sqm                39255 non-null  float64
 13  nbr_frontages                   49165 non-null  float64
 14  nbr_bedrooms                    75511 non-null  float64
 15  equipped_kitchen                75511 non-null  object
 16  fl_furnished                    75511 non-null  int64
 17  fl_open_fire                    75511 non-null  int64
 18  fl_terrace                      75511 non-null  int64
 19  terrace_sqm                     62371 non-null  float64
 20  fl_garden                       75511 non-null  int64
 21  garden_sqm                      72572 non-null  float64
 22  fl_swimming_pool                75511 non-null  int64
 23  fl_floodzone                    75511 non-null  int64
 24  state_building                  75511 non-null  object
 25  primary_energy_consumption_sqm  48944 non-null  float64
 26  epc                             75511 non-null  object
 27  heating_type                    75511 non-null  object
 28  fl_double_glazing               75511 non-null  int64
 29  cadastral_income                30544 non-null  float64
dtypes: float64(12), int64(9), object(9)
memory usage: 17.3+ MB

In [9]:
# Descriptive statistics
df.describe()

,id,price,zip_code,latitude,longitude,construction_year,total_area_sqm,surface_land_sqm,nbr_frontages,nbr_bedrooms,...,fl_open_fire,fl_terrace,terrace_sqm,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,primary_energy_consumption_sqm,fl_double_glazing,cadastral_income
count,7.551100e+04,7.551100e+04,75511.000000,61413.000000,61413.000000,42120.000000,67896.000000,39255.000000,49165.000000,75511.000000,...,75511.000000,75511.000000,62371.000000,75511.000000,72572.000000,75511.000000,75511.000000,4.894400e+04,75511.000000,3.054400e+04
mean,3.973235e+07,4.227709e+05,5144.609342,50.886625,4.328660,1984.406054,163.670746,1157.087505,2.802929,2.787276,...,0.169909,0.590828,11.577384,0.218286,115.640288,0.018686,0.543828,1.688748e+03,0.676762,1.885941e+03
std,2.290417e+07,4.383586e+05,3005.490110,0.349727,0.950902,41.528850,415.851108,10117.338517,0.889163,1.894188,...,0.375555,0.491684,38.721366,0.413085,1388.760283,0.135415,0.498079,1.589309e+05,0.467716,1.004971e+05
min,0.000000e+00,7.600000e+04,1000.000000,25.761680,-80.191790,1753.000000,3.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.400000e+02,0.000000,1.000000e+00
25%,1.989350e+07,2.420000e+05,2240.000000,50.705856,3.764067,1962.000000,91.000000,150.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.280000e+02,0.000000,5.450000e+02
50%,3.972200e+07,3.290000e+05,4683.000000,50.900919,4.376713,1994.000000,127.000000,362.000000,3.000000,3.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.420000e+02,1.000000,8.500000e+02
75%,5.954100e+07,4.550000e+05,8370.000000,51.148644,4.876499,2022.000000,185.000000,805.000000,4.000000,3.000000,...,0.000000,1.000000,15.000000,0.000000,0.000000,0.000000,1.000000,3.920000e+02,1.000000,1.249000e+03
max,7.948500e+07,2.250000e+07,9992.000000,52.434244,6.385048,2024.000000,88140.000000,950774.000000,47.000000,200.000000,...,1.000000,1.000000,3466.000000,1.000000,150000.000000,1.000000,1.000000,2.023112e+07,1.000000,1.700170e+07

In [10]:
# Number of non-NA values
df.count()

id                                75511
price                             75511
property_type                     75511
subproperty_type                  75511
region                            75511
province                          75511
locality                          75511
zip_code                          75511
latitude                          61413
longitude                         61413
construction_year                 42120
total_area_sqm                    67896
surface_land_sqm                  39255
nbr_frontages                     49165
nbr_bedrooms                      75511
equipped_kitchen                  75511
fl_furnished                      75511
fl_open_fire                      75511
fl_terrace                        75511
terrace_sqm                       62371
fl_garden                         75511
garden_sqm                        72572
fl_swimming_pool                  75511
fl_floodzone                      75511
state_building                    75511
primary_energy_consumption_sqm    48944
epc                               75511
heating_type                      75511
fl_double_glazing                 75511
cadastral_income                  30544
dtype: int64

In [11]:
# descriptive statistics for all columns in df, including both numeric and non-numeric (categorical) columns

df.describe(include="all").T  # Transpose the data frame so that it fits in a cell

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,75511.0,NaN,NaN,NaN,39732354.597343,22904173.007541,0.0,19893500.0,39722000.0,59541000.0,79485000.0
price,75511.0,NaN,NaN,NaN,422770.850737,438358.563834,76000.0,242000.0,329000.0,455000.0,22500000.0
property_type,75511,2,HOUSE,39255,NaN,NaN,NaN,NaN,NaN,NaN,NaN
subproperty_type,75511,23,HOUSE,29730,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region,75511,4,Flanders,43424,NaN,NaN,NaN,NaN,NaN,NaN,NaN
province,75511,12,West Flanders,11798,NaN,NaN,NaN,NaN,NaN,NaN,NaN
locality,75511,44,Brussels,7958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,75511.0,NaN,NaN,NaN,5144.609342,3005.49011,1000.0,2240.0,4683.0,8370.0,9992.0
latitude,61413.0,NaN,NaN,NaN,50.886625,0.349727,25.76168,50.705856,50.900919,51.148644,52.434244
longitude,61413.0,NaN,NaN,NaN,4.32866,0.950902,-80.19179,3.764067,4.376713,4.876499,6.385048
construction_year,42120.0,NaN,NaN,NaN,1984.406054,41.52885,1753.0,1962.0,1994.0,2022.0,2024.0
total_area_sqm,67896.0,NaN,NaN,NaN,163.670746,415.851108,3.0,91.0,127.0,185.0,88140.0
surface_land_sqm,39255.0,NaN,NaN,NaN,1157.087505,10117.338517,0.0,150.0,362.0,805.0,950774.0
nbr_frontages,49165.0,NaN,NaN,NaN,2.802929,0.889163,1.0,2.0,3.0,4.0,47.0
nbr_bedrooms,75511.0,NaN,NaN,NaN,2.787276,1.894188,0.0,2.0,3.0,3.0,200.0
equipped_kitchen,75511,9,MISSING,33022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fl_furnished,75511.0,NaN,NaN,NaN,0.018792,0.135791,0.0,0.0,0.0,0.0,1.0
fl_open_fire,75511.0,NaN,NaN,NaN,0.169909,0.375555,0.0,0.0,0.0,0.0,1.0
fl_terrace,75511.0,NaN,NaN,NaN,0.590828,0.491684,0.0,0.0,1.0,1.0,1.0
terrace_sqm,62371.0,NaN,NaN,NaN,11.577384,38.721366,0.0,0.0,1.0,15.0,3466.0
fl_garden,75511.0,NaN,NaN,NaN,0.218286,0.413085,0.0,0.0,0.0,0.0,1.0
garden_sqm,72572.0,NaN,NaN,NaN,115.640288,1388.760283,0.0,0.0,0.0,0.0,150000.0
fl_swimming_pool,75511.0,NaN,NaN,NaN,0.018686,0.135415,0.0,0.0,0.0,0.0,1.0
fl_floodzone,75511.0,NaN,NaN,NaN,0.543828,0.498079,0.0,0.0,1.0,1.0,1.0
state_building,75511,7,MISSING,26643,NaN,NaN,NaN,NaN,NaN,NaN,NaN
primary_energy_consumption_sqm,48944.0,NaN,NaN,NaN,1688.748002,158930.921512,-140.0,128.0,242.0,392.0,20231122.0
epc,75511,10,MISSING,24003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heating_type,75511,8,GAS,31875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fl_double_glazing,75511.0,NaN,NaN,NaN,0.676762,0.467716,0.0,0.0,1.0,1.0,1.0
cadastral_income,30544.0,NaN,NaN,NaN,1885.941298,100497.10421,1.0,545.0,850.0,1249.0,17001700.0

In [12]:
# check for missing (NaN or null) values in each column, 
# count the number of missing values per column, 
# and then sort the results in descending order

df.isna().sum().sort_values(ascending=False)

cadastral_income                  44967
surface_land_sqm                  36256
construction_year                 33391
primary_energy_consumption_sqm    26567
nbr_frontages                     26346
latitude                          14098
longitude                         14098
terrace_sqm                       13140
total_area_sqm                     7615
garden_sqm                         2939
fl_floodzone                          0
state_building                        0
fl_terrace                            0
epc                                   0
heating_type                          0
fl_double_glazing                     0
fl_swimming_pool                      0
fl_garden                             0
id                                    0
fl_open_fire                          0
fl_furnished                          0
price                                 0
nbr_bedrooms                          0
zip_code                              0
locality                              0
province                              0
region                                0
subproperty_type                      0
property_type                         0
equipped_kitchen                      0
dtype: int64

In [13]:
# There are no duplicates
df.duplicated().any()

False

In [14]:
# See unique values in dataframe
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in column '{column}' is : {unique_values}")

Unique values in column 'id' is : [34221000  2104000 34036000 ... 61806000 26373000 57381000]
Unique values in column 'price' is : [225000. 449000. 335000. ... 370455. 273250. 538008.]
Unique values in column 'property_type' is : ['APARTMENT' 'HOUSE']
Unique values in column 'subproperty_type' is : ['APARTMENT' 'HOUSE' 'DUPLEX' 'VILLA' 'EXCEPTIONAL_PROPERTY' 'FLAT_STUDIO'
 'GROUND_FLOOR' 'PENTHOUSE' 'FARMHOUSE' 'APARTMENT_BLOCK'
 'COUNTRY_COTTAGE' 'TOWN_HOUSE' 'SERVICE_FLAT' 'MANSION'
 'MIXED_USE_BUILDING' 'MANOR_HOUSE' 'LOFT' 'BUNGALOW' 'KOT' 'CASTLE'
 'CHALET' 'OTHER_PROPERTY' 'TRIPLEX']
Unique values in column 'region' is : ['Flanders' 'Brussels-Capital' 'Wallonia' 'MISSING']
Unique values in column 'province' is : ['Antwerp' 'East Flanders' 'Brussels' 'Walloon Brabant' 'Flemish Brabant'
 'LiÃ¨ge' 'West Flanders' 'Hainaut' 'Luxembourg' 'Limburg' 'Namur'
 'MISSING']
Unique values in column 'locality' is : ['Antwerp' 'Gent' 'Brussels' 'Turnhout' 'Nivelles' 'Halle-Vilvoorde'
 'LiÃ¨ge' 'Brugge' 'Sint-Niklaas' 'Veurne' 'Verviers' 'Mechelen'
 'Charleroi' 'Dendermonde' 'Bastogne' 'Leuven' 'Hasselt' 'Mons' 'Aalst'
 'Tournai' 'Oostend' 'Oudenaarde' 'Philippeville' 'Kortrijk' 'Dinant'
 'Ieper' 'Huy' 'Marche-en-Famenne' 'Namur' 'Maaseik' 'Mouscron'
 'Diksmuide' 'Soignies' 'NeufchÃ¢teau' 'Arlon' 'Tongeren' 'Waremme' 'Thuin'
 'Virton' 'Ath' 'Roeselare' 'Tielt' 'Eeklo' 'MISSING']
Unique values in column 'zip_code' is : [2050 9185 1070 ... 5021 9572 6533]
Unique values in column 'latitude' is : [51.2171725 51.174944  50.8420431 ... 50.9874419 51.3212603 50.5831516]
Unique values in column 'longitude' is : [4.3799821 3.845248  4.3345427 ... 4.8266952 4.947304  5.5065168]
Unique values in column 'construction_year' is : [1963.   nan 2024. 2022. 2023. 1935. 2011. 1918. 1946. 1973. 1922. 2001.
 1968. 1982. 2021. 1970. 1938. 1992. 2019. 1978. 1981. 2016. 1960. 1990.
 1971. 1905. 2020. 1958. 1965. 1983. 2012. 1974. 2005. 1930. 1931. 2008.
 1961. 1955. 1977. 2009. 1999. 1994. 1911. 1914. 1948. 1995. 1933. 1959.
 1900. 1966. 1940. 1987. 1991. 1934. 2007. 1932. 1964. 1830. 2010. 1949.
 1912. 1997. 1870. 1972. 1850. 1776. 1976. 1980. 2014. 1979. 1920. 1947.
 1875. 1899. 1969. 1954. 1908. 1942. 1988. 1996. 1956. 1919. 1950. 2003.
 1895. 1926. 1967. 1939. 1951. 1903. 1936. 1975. 1989. 2017. 1907. 1985.
 2013. 1910. 1962. 1957. 1904. 2018. 2006. 1890. 1952. 2015. 1924. 1953.
 2004. 1993. 1880. 1800. 2000. 1925. 1984. 1889. 1874. 1986. 1937. 1915.
 1998. 1860. 1906. 1943. 1923. 1928. 1921. 1901. 1902. 1927. 1917. 1913.
 1872. 1945. 1944. 1780. 1859. 1892. 1778. 1896. 2002. 1909. 1929. 1869.
 1898. 1810. 1858. 1863. 1888. 1865. 1844. 1891. 1886. 1941. 1882. 1772.
 1849. 1764. 1894. 1796. 1884. 1847. 1793. 1916. 1857. 1789. 1853. 1760.
 1854. 1816. 1879. 1871. 1786. 1881. 1834. 1887. 1856. 1877. 1790. 1897.
 1840. 1759. 1753. 1862. 1878. 1815. 1825. 1873. 1883. 1773. 1824. 1868.
 1820. 1885. 1893. 1771. 1842. 1876. 1846. 1775. 1866. 1845. 1861. 1788.
 1777. 1822. 1832. 1770. 1855. 1781. 1826. 1819. 1774. 1812. 1757. 1783.
 1769. 1836. 1835. 1867. 1782. 1848.]
Unique values in column 'total_area_sqm' is : [1.0000e+02        nan 1.4200e+02 1.8700e+02 1.6900e+02 8.0000e+01
 1.5500e+02 2.7700e+02 3.0900e+02 1.3300e+02 1.0600e+02 1.0200e+02
 1.5000e+02 8.3000e+01 1.1500e+02 5.8300e+02 1.8500e+02 3.8000e+01
 8.4000e+01 1.6000e+02 8.5000e+01 4.9000e+01 1.2700e+02 9.3000e+01
 1.0900e+02 1.1200e+02 1.8000e+02 6.0000e+02 8.2000e+01 2.2000e+02
 9.6000e+01 7.9000e+01 2.0400e+02 6.9000e+01 1.2100e+02 1.2000e+02
 4.8000e+02 1.0800e+02 1.3000e+02 3.0600e+02 8.7000e+01 3.0000e+02
 9.2000e+01 2.0000e+02 1.8100e+02 1.2400e+02 1.0700e+02 1.6600e+02
 1.4600e+02 8.6000e+01 1.4800e+02 9.5000e+01 2.1300e+02 3.0000e+01
 1.1100e+02 7.8000e+01 2.4300e+02 8.8000e+01 2.3500e+02 2.3100e+02
 2.2900e+02 4.3100e+02 2.1000e+02 1.6200e+02 2.5000e+02 1.5000e+03
 1.4500e+02 1.6800e+02 9.0000e+01 6.5000e+01 1.1900e+02 2.5900e+02
 2.1800e+02 4.0000e+01 1.3500e+02 1.9100e+02 9.0000e+02 7.0000e+01
 1.1000e+02 7.5000e+01 1.4400e+02 1.6100e+02 1.7500e+02 1.8300e+02
 1.8600e+02 1.0500e+02 1.0300e+02 2.0600e+02 1.9300e+02 1.7000e+02
 6.1000e+01 1.5600e+02 2.6000e+02 1.5800e+02 5.3700e+02 2.5500e+02
 4.2000e+01 1.0400e+02 2.0500e+02 6.0000e+01 1.8400e+02 1.2600e+02
 3.3000e+02 1.4300e+02 2.5100e+02 1.9000e+01 5.0000e+01 2.8100e+02
 2.9000e+02 1.7900e+02 1.6700e+02 1.4100e+02 8.1000e+01 9.8000e+01
 4.4200e+02 3.8000e+02 2.1820e+03 1.3400e+02 1.3600e+02 2.2600e+02
 1.2800e+02 1.9000e+02 2.8600e+02 1.4000e+02 8.4000e+02 2.5600e+02
 1.8800e+02 1.8900e+02 4.0000e+02 2.0800e+02 1.9200e+02 9.1000e+01
 4.5400e+02 2.4100e+02 3.6000e+01 5.3200e+02 1.1700e+02 6.8000e+01
 1.2900e+02 2.4000e+02 2.1500e+02 2.9100e+02 3.8500e+02 9.4000e+01
 5.4000e+01 5.8000e+01 8.9000e+01 1.6400e+02 1.8200e+02 1.8000e+01
 7.2000e+02 2.8500e+02 4.5000e+01 2.8800e+02 2.8200e+02 5.1000e+01
 2.3400e+02 7.0000e+02 7.6000e+01 1.3200e+02 3.1600e+02 1.7700e+02
 2.9400e+02 3.5000e+02 2.1100e+02 1.2300e+02 2.3800e+02 1.7800e+02
 2.2400e+02 1.2500e+02 6.2000e+01 2.0300e+02 1.1400e+02 3.2000e+02
 7.4000e+01 6.7000e+01 2.2500e+02 2.3000e+02 9.9000e+01 5.9000e+01
 6.1000e+02 2.4600e+02 1.7600e+02 3.2500e+02 1.5400e+02 2.7000e+02
 1.9900e+02 1.6300e+02 3.4600e+02 1.6500e+02 1.7300e+02 5.6000e+01
 1.3100e+02 2.9500e+02 2.6500e+02 2.9600e+02 2.9800e+02 4.4000e+01
 7.3000e+01 3.5000e+01 3.5500e+02 2.7800e+02 3.0500e+02 2.2300e+02
 3.1500e+02 3.5400e+02 7.2000e+01 2.0900e+02 9.7000e+01 1.9400e+02
 7.1000e+01 3.2600e+02 1.7400e+02 1.5300e+02 1.0300e+03 3.1000e+02
 2.8000e+01 6.3000e+01 1.5200e+02 4.3000e+02 3.1000e+01 1.1600e+02
 2.1200e+02 6.6000e+01 7.7000e+01 1.9500e+02 1.0100e+02 3.1700e+02
 2.4200e+02 6.1800e+02 1.2200e+02 2.6400e+02 2.5700e+02 2.3300e+02
 1.1800e+02 2.0700e+02 1.2880e+03 1.4700e+02 2.8000e+02 2.1600e+02
 2.5200e+02 1.3700e+02 3.3000e+01 3.5300e+02 1.1300e+02 1.3900e+02
 1.9600e+02 2.3600e+02 9.4300e+02 4.3800e+02 2.4900e+02 5.6000e+02
 3.9200e+02 1.4900e+02 2.6300e+02 5.4300e+02 5.0000e+02 2.4500e+02
 1.9800e+02 1.7000e+03 2.6700e+02 2.0200e+02 2.9000e+01 6.0600e+02
 7.1900e+02 4.4500e+02 3.9000e+02 3.8300e+02 1.7100e+02 1.5100e+02
 2.1700e+02 1.1500e+03 2.2100e+02 4.6500e+02 5.7000e+01 1.2000e+03
 3.4500e+02 2.3900e+02 4.3200e+02 5.5000e+01 1.5700e+02 8.2500e+02
 3.4700e+02 2.0000e+01 2.7400e+02 2.5400e+02 3.0300e+02 2.7200e+02
 6.4000e+01 5.2000e+01 1.5900e+02 1.7000e+01 1.3800e+02 2.5300e+02
 2.1400e+02 2.4800e+02 3.2000e+01 2.6600e+02 4.8000e+01 1.9700e+02
 8.2800e+02 1.1270e+03 2.8700e+02 3.7500e+02 2.7900e+02 4.1500e+02
 3.3200e+02 2.2200e+02 2.9200e+02 5.3000e+01 2.5000e+01 1.7200e+02
 1.6450e+03 3.7000e+02 3.9500e+02 3.6500e+02 3.0800e+02 3.5600e+02
 4.7000e+01 4.0800e+02 3.4000e+01 1.1200e+03 4.2000e+02 3.1300e+02
 5.5000e+02 3.6600e+02 2.0100e+02 3.6000e+02 2.9900e+02 6.0900e+02
 7.9900e+02 4.2500e+02 6.5400e+02 2.8300e+02 4.0200e+02 2.6100e+02
 4.6000e+02 3.3100e+02 5.7500e+02 3.8900e+02 3.3500e+02 4.3000e+01
 3.3700e+02 3.3400e+02 2.7500e+02 4.3500e+02 3.9400e+02 2.1900e+02
 4.6000e+01 4.1000e+01 2.6000e+01 4.5000e+02 2.7100e+02 5.3000e+02
 2.4700e+02 1.2520e+03 3.1200e+02 6.6300e+02 4.7500e+02 2.2800e+02
 1.4000e+03 4.9200e+02 5.0800e+02 2.6200e+02 3.6900e+02 3.2800e+02
 4.1800e+02 5.4400e+02 1.5000e+01 3.4400e+02 3.7300e+02 2.1000e+01
 3.3600e+02 1.1040e+03 2.2700e+02 3.4000e+02 1.6000e+01 3.7600e+02
 2.7600e+02 4.2600e+02 7.9400e+02 4.5300e+02 1.2000e+01 3.7800e+02
 4.4700e+02 3.4200e+02 1.0000e+03 2.4400e+02 5.0500e+02 4.8500e+02
 3.3800e+02 3.4300e+02 4.0100e+02 7.5000e+02 4.8200e+02 4.0600e+02
 3.1400e+02 3.7000e+01 5.9700e+02 3.2200e+02 2.5800e+02 8.0000e+02
 4.9300e+02 2.8400e+02 5.2000e+02 4.7900e+02 1.3670e+03 3.2400e+02
 1.0550e+03 5.4000e+02 1.3500e+03 5.3800e+02 3.9900e+02 4.4800e+02
 5.9300e+02 2.9700e+02 7.7500e+02 3.8600e+02 3.9700e+02 3.2300e+02
 9.9100e+02 5.7800e+02 2.6800e+02 6.2000e+02 5.1500e+02 3.6700e+02
 2.3200e+02 6.8000e+02 4.4600e+02 1.3400e+03 3.3300e+02 3.0100e+02
 8.6400e+02 4.0400e+02 7.1600e+02 8.2700e+02 3.9100e+02 5.6500e+02
 4.2400e+02 4.5800e+02 3.2000e+03 8.8000e+02 5.0700e+02 5.5900e+02
 5.8700e+02 2.7300e+02 6.3600e+02 3.5700e+02 6.6000e+02 4.1000e+02
 1.1730e+03 8.8140e+04 3.9300e+02 4.0300e+02 4.0500e+02 4.8400e+02
 4.4400e+02 8.4500e+02 4.1900e+02 5.1600e+02 5.9100e+02 4.4000e+02
 1.0060e+03 3.2100e+02 5.0300e+02 5.1300e+02 8.5000e+02 3.9000e+01
 3.3900e+02 5.6200e+02 4.9500e+02 1.1000e+04 1.4770e+04 4.6200e+02
 4.1700e+02 3.1900e+02 5.3500e+02 4.5200e+02 9.6700e+02 6.5000e+02
 4.2700e+02 1.1550e+03 5.4200e+02 6.7200e+02 6.2700e+02 4.2200e+02
 3.8200e+02 2.3700e+02 6.6200e+02 4.6800e+02 6.4600e+02 8.4300e+02
 8.0200e+02 3.7200e+02 2.2020e+03 2.6900e+02 2.4000e+01 4.1600e+02
 5.9400e+02 3.6300e+02 4.3300e+02 4.1300e+02 3.6100e+02 3.1800e+02
 8.6000e+02 3.6400e+02 3.0700e+02 6.1700e+02 7.8000e+02 5.3900e+02
 3.7400e+02 3.7100e+02 5.1000e+02 3.8700e+02 3.0200e+02 5.6800e+02
 4.7100e+02 6.8900e+02 2.3000e+01 2.7000e+01 9.3000e+02 3.8100e+02
 6.6100e+02 2.9300e+02 1.4000e+01 3.5900e+02 7.4700e+02 4.4100e+02
 3.8800e+02 1.5150e+03 3.5200e+02 3.7700e+02 4.2800e+02 3.5100e+02
 5.0600e+02 7.0900e+02 9.7000e+02 4.5500e+02 4.6900e+02 1.0070e+03
 4.8600e+02 7.3000e+02 4.6300e+02 3.4900e+02 8.2900e+02 4.5600e+02
 4.7200e+02 5.2200e+02 5.3300e+02 7.1700e+02 1.8750e+03 7.4800e+02
 3.4100e+02 4.2900e+02 3.0400e+02 3.6800e+02 6.4700e+02 4.1100e+02
 8.9000e+02 5.4100e+02 4.3900e+02 9.1700e+02 4.7600e+02 7.1800e+02
 6.7000e+02 6.4000e+02 9.8800e+02 5.7200e+02 1.3000e+03 4.3600e+02
 7.1300e+02 4.9100e+02 6.5500e+02 4.7000e+02 5.4900e+02 5.7300e+02
 9.3900e+02 3.6200e+02 4.0900e+02 7.7100e+02 4.9000e+02 8.5500e+02
 5.6400e+02 5.1900e+02 5.8000e+02 4.2300e+02 6.1900e+02 9.7400e+02
 5.3600e+02 7.4000e+02 7.6700e+02 8.5400e+02 1.0110e+03 1.7500e+03
 8.4100e+02 7.0600e+02 7.7360e+03 8.3000e+02 1.0400e+03 7.7000e+02
 5.7400e+02 1.4630e+03 4.1200e+02 7.0200e+02 4.8300e+02 5.2500e+02
 3.9800e+02 6.6700e+02 8.9500e+02 5.8500e+02 1.9000e+03 5.4600e+02
 2.8900e+02 7.6400e+02 1.1150e+03 7.8800e+02 5.4500e+02 3.8400e+02
 8.5700e+02 3.4800e+02 4.9400e+02 3.1100e+02 9.0800e+02 5.2600e+02
 3.2700e+02 4.9600e+02 4.9900e+02 1.0560e+03 4.5900e+02 9.6000e+02
 1.3600e+03 2.7730e+03 1.5500e+03 1.0150e+03 4.5700e+02 3.7900e+02
 1.1000e+03 2.3800e+03 6.5700e+02 9.6100e+02 8.7500e+02 7.1000e+02
 6.8600e+02 5.5100e+02 9.2500e+02 6.9800e+02 6.1400e+02 7.9000e+02
 4.3700e+02 5.0400e+02 7.6100e+02 5.5500e+02 3.2900e+02 8.7000e+02
 4.7800e+02 1.0390e+03 1.4780e+03 1.1890e+03 6.5200e+02 4.8900e+02
 9.5900e+02 5.7700e+02 4.6700e+02 6.3200e+02 3.9600e+02 9.5000e+02
 2.3000e+03 9.9800e+02 4.4900e+02 1.8890e+03 1.0250e+03 5.6300e+02
 9.2600e+03 6.7100e+02 7.2900e+02 6.4500e+02 6.7900e+02 8.7800e+02
 4.8800e+02 6.0700e+02 7.4400e+02 3.0000e+00 6.9000e+02 2.1590e+03
 4.4300e+02 1.3210e+03 5.1400e+02 4.8100e+02 3.5800e+02 4.0700e+02
 5.5300e+02 9.4200e+02 7.0500e+02 7.3200e+02 5.5700e+02 6.1500e+02
 8.6500e+02 6.0500e+02 8.9440e+03 8.8500e+02 4.6100e+02 1.0920e+03
 5.0900e+02 1.4900e+03 5.2100e+02 5.4800e+02 5.2900e+02 4.2100e+02
 4.8700e+02 1.3000e+01 6.0200e+02 9.0700e+02 1.1900e+03 5.0100e+02
 5.9500e+02 7.2500e+02 6.8500e+02 4.3400e+02 7.2700e+02 1.2650e+03
 2.2000e+01 1.2400e+03 9.8200e+02 6.7500e+02 1.0890e+03 7.2380e+03
 9.0200e+02 7.4200e+03 4.7300e+02 6.7300e+02 8.3200e+02 1.9940e+03
 8.3500e+02 9.9400e+02 9.6900e+02 6.4800e+02 8.0700e+02 5.2800e+02
 1.0100e+03 1.0900e+03 1.9500e+03 5.6700e+02 1.4610e+03 7.4200e+02
 5.3100e+02 4.7700e+02 7.9100e+02 8.1800e+02 8.2200e+02 6.1600e+02
 7.1500e+02 8.8700e+02 1.6520e+03 7.8500e+02 6.5600e+02 5.5400e+02
 6.8800e+02 2.2400e+03 7.5700e+02 1.1390e+03 1.1250e+04 5.6600e+02
 7.8300e+02 5.3400e+02 5.1100e+02 1.5348e+04 6.3000e+02 8.6700e+02
 8.6800e+02 1.2800e+03 8.6200e+02 5.5600e+02 2.4380e+03 5.7900e+02
 1.1600e+03 1.7430e+03 5.5200e+02 1.6800e+03 7.6000e+02 5.2700e+02
 7.5500e+02 8.1000e+02 6.4200e+02 5.7600e+02 2.0410e+03 6.6900e+02
 7.2100e+02 6.3900e+02 5.9000e+02 6.1200e+03 7.1100e+02 4.9800e+02
 6.9900e+02 5.2300e+02 5.5800e+02 7.3500e+02 7.0000e+00 1.0260e+03
 5.8900e+02 1.1570e+03 1.2820e+03 2.4000e+03 1.4820e+03 8.7200e+02
 7.5300e+02 1.7770e+03 9.0500e+02 5.8800e+02 5.1800e+02 1.4430e+03
 9.0400e+02 6.9400e+02 7.2800e+02 5.7000e+02 8.5600e+02 8.5300e+02
 1.4500e+03 4.1400e+02 9.7600e+02 1.2040e+03 3.0000e+03 9.8500e+02
 6.3400e+02 6.7600e+02 9.8000e+02 4.6600e+02 4.6400e+02 1.0420e+03
 7.1200e+02 8.8900e+02 6.3100e+02 7.3900e+02 9.2000e+02 1.0360e+03
 1.5290e+03 7.5800e+02 1.3940e+03 1.1910e+03 1.3800e+03 5.1200e+02
 9.8600e+02 1.8980e+03 1.1250e+03 5.4700e+02 1.0340e+03 2.1700e+03
 1.1650e+03 5.5960e+03 9.5700e+02 7.1400e+02 9.4400e+02 2.2000e+03
 1.1520e+03 9.5400e+02 2.3070e+03 1.2190e+03 1.1410e+03 7.0300e+02
 6.0400e+02 8.0800e+02 6.2500e+02 5.9800e+02 7.9300e+02 1.2380e+03
 5.9200e+02 2.0000e+03 1.5710e+03 7.4100e+02 5.2400e+02 9.4500e+02
 6.2200e+02 6.3300e+02 1.3370e+03 5.6900e+02 2.8180e+03 1.6500e+03
 1.3050e+03 1.2600e+03 7.5200e+02 1.1050e+03 1.1460e+03 5.0000e+03
 6.2300e+02 1.6000e+03 6.5100e+02 7.3500e+03 9.6800e+02 7.5100e+02
 7.4900e+02 6.0800e+02 1.4050e+03 1.0540e+03 9.5500e+02 5.0200e+02
 9.4000e+02 5.8600e+02 2.8500e+03 1.1340e+03 1.1690e+03 1.0235e+04
 5.9900e+02 7.2200e+02 9.3200e+02 7.0700e+02 1.3900e+03 1.6870e+03
 5.6100e+02 6.3700e+02 1.0000e+04 1.8010e+03 2.3430e+03 5.1700e+02
 6.4400e+02 8.7970e+03 2.2950e+03 1.3910e+03 1.8000e+03 4.9700e+02
 8.2000e+02 6.6400e+02 6.2800e+02 8.4800e+02 1.9310e+03 1.0160e+03
 7.0800e+02 7.4300e+02 7.3800e+02 8.8200e+02 1.3020e+03 6.8200e+02
 1.4650e+03 8.0300e+02 8.2100e+02 1.3110e+03 6.6500e+02 2.7110e+03
 1.0210e+03 6.8300e+02 2.8000e+03 8.7300e+02 1.1660e+03 3.3900e+03
 4.5100e+02 8.1900e+02 9.2900e+02 6.9500e+02 1.6200e+03 8.8400e+02
 4.7400e+02 1.8160e+03 1.5600e+03 1.3850e+03]
Unique values in column 'surface_land_sqm' is : [  nan  680.  505. ... 2964. 2332. 4660.]
Unique values in column 'nbr_frontages' is : [ 2. nan  4.  3.  1.  9.  6.  7. 15.  8. 13. 12. 47.  5. 10. 18.]
Unique values in column 'nbr_bedrooms' is : [  2.   3.   1.   4.   6.   7.   5.   0.  20.  10.   9.   8.  19.  13.
  14.  12.  15.  27.  25.  16.  30.  21.  11.  18.  17.  22.  24.  39.
  47.  36.  48. 200.  31.  34.  26.  90.  28.  40.  44.  35. 100.  23.
  37.  41.  70.  45.  60.]
Unique values in column 'equipped_kitchen' is : ['INSTALLED' 'MISSING' 'HYPER_EQUIPPED' 'NOT_INSTALLED' 'USA_UNINSTALLED'
 'USA_HYPER_EQUIPPED' 'SEMI_EQUIPPED' 'USA_INSTALLED' 'USA_SEMI_EQUIPPED']
Unique values in column 'fl_furnished' is : [0 1]
Unique values in column 'fl_open_fire' is : [0 1]
Unique values in column 'fl_terrace' is : [1 0]
Unique values in column 'terrace_sqm' is : [5.000e+00 0.000e+00       nan 2.000e+01 1.100e+01 2.400e+01 7.000e+00
 4.000e+01 1.600e+01 1.200e+01 1.300e+01 4.500e+01 8.000e+00 1.400e+01
 1.000e+01 2.500e+01 2.300e+01 3.800e+01 1.800e+01 2.600e+01 2.700e+01
 2.200e+01 3.500e+01 5.100e+01 8.100e+01 1.500e+01 6.000e+00 1.000e+00
 3.600e+01 3.000e+01 9.000e+00 3.000e+00 7.000e+01 8.800e+01 4.000e+00
 2.100e+01 2.800e+01 2.300e+02 1.700e+01 5.900e+01 2.000e+00 7.600e+01
 7.900e+01 1.900e+01 1.120e+02 5.200e+01 3.700e+01 5.000e+01 6.400e+01
 4.800e+01 1.900e+02 4.400e+01 1.140e+02 2.900e+01 3.100e+01 6.000e+01
 1.000e+02 4.100e+01 1.180e+02 5.600e+01 2.600e+02 1.050e+02 5.800e+01
 2.000e+02 3.200e+01 1.660e+02 6.800e+01 4.200e+01 8.500e+01 4.600e+01
 1.100e+02 1.500e+02 8.400e+01 3.300e+01 1.600e+02 5.500e+01 4.900e+01
 1.620e+02 3.900e+01 1.020e+02 3.400e+01 7.500e+01 5.300e+01 1.260e+02
 9.200e+01 9.000e+01 4.700e+01 1.350e+02 1.130e+02 1.200e+02 8.000e+01
 1.240e+02 1.060e+02 6.200e+01 1.540e+02 3.466e+03 5.400e+01 4.300e+01
 1.090e+02 4.950e+02 9.100e+01 8.600e+01 2.100e+02 6.300e+01 1.820e+02
 8.200e+01 7.100e+01 1.690e+02 1.750e+02 6.900e+01 1.320e+02 2.020e+02
 6.500e+01 1.680e+02 8.700e+01 6.700e+01 1.800e+02 8.300e+01 1.030e+02
 6.100e+01 7.700e+01 1.420e+02 3.110e+02 1.040e+02 1.110e+02 5.000e+02
 9.300e+01 7.200e+01 9.500e+01 7.300e+01 1.610e+02 5.700e+01 9.700e+01
 3.900e+02 8.900e+01 4.500e+02 2.320e+02 1.300e+02 1.700e+02 1.210e+02
 6.600e+01 1.640e+02 2.200e+02 1.010e+02 9.900e+01 7.800e+01 1.330e+02
 1.400e+02 1.000e+03 3.750e+02 5.430e+02 1.250e+02 2.800e+02 3.286e+03
 1.150e+02 1.160e+02 7.400e+01 1.070e+02 5.500e+02 1.280e+02 1.470e+02
 9.800e+01 6.750e+02 1.220e+02 1.840e+02 1.370e+02 1.670e+02 1.360e+02
 1.310e+02 3.820e+02 9.400e+01 1.270e+02 1.380e+02 2.500e+02 1.440e+02
 2.769e+03 1.850e+02 1.080e+02 2.450e+02 2.400e+02 1.780e+02 3.000e+02
 1.390e+02 9.730e+02 2.010e+02 1.760e+02 2.250e+02 2.700e+02 3.250e+02
 2.360e+02 1.710e+02 1.530e+02 2.520e+02 1.870e+02 1.450e+02 1.340e+02
 1.560e+02 3.100e+02 4.550e+02 9.480e+02 1.740e+02 1.790e+02 1.950e+02
 1.430e+02 1.230e+02 5.530e+02 6.000e+02 2.040e+02 2.130e+02 3.120e+02
 7.600e+02 1.770e+02 3.800e+02 1.880e+02 2.771e+03 1.650e+02 2.150e+02
 7.810e+02 1.520e+02 2.070e+02 7.000e+02 4.000e+02 2.597e+03 3.600e+02
 1.720e+02 3.580e+02 3.400e+02 4.800e+02 2.122e+03]
Unique values in column 'fl_garden' is : [0 1]
Unique values in column 'garden_sqm' is : [   0.  142.   35. ... 1545. 2165.  631.]
Unique values in column 'fl_swimming_pool' is : [0 1]
Unique values in column 'fl_floodzone' is : [0 1]
Unique values in column 'state_building' is : ['MISSING' 'AS_NEW' 'GOOD' 'TO_RENOVATE' 'TO_BE_DONE_UP' 'JUST_RENOVATED'
 'TO_RESTORE']
Unique values in column 'primary_energy_consumption_sqm' is : [  231.   221.    nan ... 10851.   956. 32991.]
Unique values in column 'epc' is : ['C' 'MISSING' 'A' 'A+' 'D' 'B' 'E' 'G' 'F' 'A++']
Unique values in column 'heating_type' is : ['GAS' 'MISSING' 'FUELOIL' 'PELLET' 'ELECTRIC' 'CARBON' 'SOLAR' 'WOOD']
Unique values in column 'fl_double_glazing' is : [1 0]
Unique values in column 'cadastral_income' is : [ 922.  406.   nan ... 1746. 6458. 1867.]

## Cleaning the data

In [15]:
# Replace values "missing" by NAN
missing_column = ["region", "province", "locality", "equipped_kitchen", "state_building", "epc", "heating_type"]
df_missing_col = df[missing_column].replace('MISSING', np.NAN, inplace=False)
display(df_missing_col)

# Replace the "MISSING" values with NaN
df_missing = df.replace('MISSING', np.NAN, inplace=False)
display(df_missing)

,region,province,locality,equipped_kitchen,state_building,epc,heating_type
0,Flanders,Antwerp,Antwerp,INSTALLED,NaN,C,GAS
1,Flanders,East Flanders,Gent,NaN,NaN,C,NaN
2,Brussels-Capital,Brussels,Brussels,INSTALLED,AS_NEW,NaN,GAS
3,Flanders,Antwerp,Turnhout,NaN,NaN,A,NaN
4,Wallonia,Walloon Brabant,Nivelles,HYPER_EQUIPPED,AS_NEW,A+,GAS
...,...,...,...,...,...,...,...
75506,Wallonia,Hainaut,Tournai,INSTALLED,AS_NEW,NaN,NaN
75507,Brussels-Capital,Brussels,Brussels,USA_HYPER_EQUIPPED,AS_NEW,B,GAS
75508,Brussels-Capital,Brussels,Brussels,NaN,TO_RENOVATE,G,GAS
75509,Flanders,West Flanders,Veurne,INSTALLED,AS_NEW,C,GAS
75510,Flanders,Antwerp,Antwerp,HYPER_EQUIPPED,NaN,NaN,NaN

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,NaN,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,NaN,221.0,C,NaN,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,NaN,NaN,GAS,0,NaN
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,NaN,99.0,A,NaN,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75506,30785000,210000.0,APARTMENT,APARTMENT,Wallonia,Hainaut,Tournai,7640,NaN,NaN,...,0,0.0,0,1,AS_NEW,NaN,NaN,NaN,1,NaN
75507,13524000,780000.0,APARTMENT,PENTHOUSE,Brussels-Capital,Brussels,Brussels,1200,50.840183,4.435570,...,0,0.0,0,0,AS_NEW,95.0,B,GAS,1,NaN
75508,43812000,798000.0,HOUSE,MIXED_USE_BUILDING,Brussels-Capital,Brussels,Brussels,1080,NaN,NaN,...,0,0.0,0,1,TO_RENOVATE,351.0,G,GAS,0,NaN
75509,49707000,575000.0,HOUSE,VILLA,Flanders,West Flanders,Veurne,8670,NaN,NaN,...,1,NaN,0,1,AS_NEW,269.0,C,GAS,1,795.0
75510,65278000,515000.0,APARTMENT,PENTHOUSE,Flanders,Antwerp,Antwerp,2000,51.220753,4.410247,...,0,0.0,0,0,NaN,NaN,NaN,NaN,1,NaN

In [16]:
df_missing.isna().sum().sort_values(ascending=False)

cadastral_income                  44967
surface_land_sqm                  36256
construction_year                 33391
equipped_kitchen                  33022
heating_type                      31444
state_building                    26643
primary_energy_consumption_sqm    26567
nbr_frontages                     26346
epc                               24003
latitude                          14098
longitude                         14098
terrace_sqm                       13140
total_area_sqm                     7615
garden_sqm                         2939
region                                3
locality                              3
province                              3
fl_double_glazing                     0
fl_floodzone                          0
fl_swimming_pool                      0
fl_open_fire                          0
fl_garden                             0
fl_terrace                            0
fl_furnished                          0
price                                 0
nbr_bedrooms                          0
property_type                         0
subproperty_type                      0
zip_code                              0
id                                    0
dtype: int64

In [17]:
df_missing.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,75511.0,NaN,NaN,NaN,39732354.597343,22904173.007541,0.0,19893500.0,39722000.0,59541000.0,79485000.0
price,75511.0,NaN,NaN,NaN,422770.850737,438358.563834,76000.0,242000.0,329000.0,455000.0,22500000.0
property_type,75511,2,HOUSE,39255,NaN,NaN,NaN,NaN,NaN,NaN,NaN
subproperty_type,75511,23,HOUSE,29730,NaN,NaN,NaN,NaN,NaN,NaN,NaN
region,75508,3,Flanders,43424,NaN,NaN,NaN,NaN,NaN,NaN,NaN
province,75508,11,West Flanders,11798,NaN,NaN,NaN,NaN,NaN,NaN,NaN
locality,75508,43,Brussels,7958,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zip_code,75511.0,NaN,NaN,NaN,5144.609342,3005.49011,1000.0,2240.0,4683.0,8370.0,9992.0
latitude,61413.0,NaN,NaN,NaN,50.886625,0.349727,25.76168,50.705856,50.900919,51.148644,52.434244
longitude,61413.0,NaN,NaN,NaN,4.32866,0.950902,-80.19179,3.764067,4.376713,4.876499,6.385048
construction_year,42120.0,NaN,NaN,NaN,1984.406054,41.52885,1753.0,1962.0,1994.0,2022.0,2024.0
total_area_sqm,67896.0,NaN,NaN,NaN,163.670746,415.851108,3.0,91.0,127.0,185.0,88140.0
surface_land_sqm,39255.0,NaN,NaN,NaN,1157.087505,10117.338517,0.0,150.0,362.0,805.0,950774.0
nbr_frontages,49165.0,NaN,NaN,NaN,2.802929,0.889163,1.0,2.0,3.0,4.0,47.0
nbr_bedrooms,75511.0,NaN,NaN,NaN,2.787276,1.894188,0.0,2.0,3.0,3.0,200.0
equipped_kitchen,42489,8,INSTALLED,19373,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fl_furnished,75511.0,NaN,NaN,NaN,0.018792,0.135791,0.0,0.0,0.0,0.0,1.0
fl_open_fire,75511.0,NaN,NaN,NaN,0.169909,0.375555,0.0,0.0,0.0,0.0,1.0
fl_terrace,75511.0,NaN,NaN,NaN,0.590828,0.491684,0.0,0.0,1.0,1.0,1.0
terrace_sqm,62371.0,NaN,NaN,NaN,11.577384,38.721366,0.0,0.0,1.0,15.0,3466.0
fl_garden,75511.0,NaN,NaN,NaN,0.218286,0.413085,0.0,0.0,0.0,0.0,1.0
garden_sqm,72572.0,NaN,NaN,NaN,115.640288,1388.760283,0.0,0.0,0.0,0.0,150000.0
fl_swimming_pool,75511.0,NaN,NaN,NaN,0.018686,0.135415,0.0,0.0,0.0,0.0,1.0
fl_floodzone,75511.0,NaN,NaN,NaN,0.543828,0.498079,0.0,0.0,1.0,1.0,1.0
state_building,48868,6,GOOD,21737,NaN,NaN,NaN,NaN,NaN,NaN,NaN
primary_energy_consumption_sqm,48944.0,NaN,NaN,NaN,1688.748002,158930.921512,-140.0,128.0,242.0,392.0,20231122.0
epc,51508,9,B,10483,NaN,NaN,NaN,NaN,NaN,NaN,NaN
heating_type,44067,7,GAS,31875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fl_double_glazing,75511.0,NaN,NaN,NaN,0.676762,0.467716,0.0,0.0,1.0,1.0,1.0
cadastral_income,30544.0,NaN,NaN,NaN,1885.941298,100497.10421,1.0,545.0,850.0,1249.0,17001700.0

In [18]:
df_missing.dtypes

id                                  int64
price                             float64
property_type                      object
subproperty_type                   object
region                             object
province                           object
locality                           object
zip_code                            int64
latitude                          float64
longitude                         float64
construction_year                 float64
total_area_sqm                    float64
surface_land_sqm                  float64
nbr_frontages                     float64
nbr_bedrooms                      float64
equipped_kitchen                   object
fl_furnished                        int64
fl_open_fire                        int64
fl_terrace                          int64
terrace_sqm                       float64
fl_garden                           int64
garden_sqm                        float64
fl_swimming_pool                    int64
fl_floodzone                        int64
state_building                     object
primary_energy_consumption_sqm    float64
epc                                object
heating_type                       object
fl_double_glazing                   int64
cadastral_income                  float64
dtype: object

In [19]:
# Replace the "MISSING" values with NaN
df = df.replace('MISSING', np.NAN, inplace=False)
display(df.head())

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,NaN,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,NaN,221.0,C,NaN,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,NaN,NaN,GAS,0,NaN
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,NaN,99.0,A,NaN,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN

### Drop columns: > 50% Nan and specific columns

In [20]:
# Calculate the percentage of missing values in each column
missing_percentage = df.isna().mean() * 100

# Filter columns where missing percentage is greater than 50%
columns_to_drop = missing_percentage[missing_percentage > 50].index

# Drop columns with more than 50% missing values
df_drop = df.drop(columns=columns_to_drop, inplace=False)

# Print the columns that were dropped
b = df_drop.columns.symmetric_difference(df.columns)
print ("Uncommon Columns:",b)
display(df_drop.head())

Uncommon Columns: Index(['cadastral_income'], dtype='object')

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,terrace_sqm,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,5.0,0,0.0,0,0,NaN,231.0,C,GAS,1
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0.0,0,0.0,0,0,NaN,221.0,C,NaN,1
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,NaN,0,0.0,0,1,AS_NEW,NaN,NaN,GAS,0
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0.0,0,0.0,0,1,NaN,99.0,A,NaN,0
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,20.0,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0

In [21]:
# Drop specific columns
df_dropID = df.drop(["id"], axis=1)
display(df_dropID.head())

# Drop longitude and latitude
df = df.drop(["id", "latitude", "longitude"], axis=1)
display(df.head())

,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,construction_year,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,1963.0,...,0,0.0,0,0,NaN,231.0,C,GAS,1,922.0
1,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,NaN,...,0,0.0,0,0,NaN,221.0,C,NaN,1,406.0
2,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,NaN,...,0,0.0,0,1,AS_NEW,NaN,NaN,GAS,0,NaN
3,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,2024.0,...,0,0.0,0,1,NaN,99.0,A,NaN,0,NaN
4,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,2022.0,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN

,price,property_type,subproperty_type,region,province,locality,zip_code,construction_year,total_area_sqm,surface_land_sqm,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,1963.0,100.0,NaN,...,0,0.0,0,0,NaN,231.0,C,GAS,1,922.0
1,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,NaN,NaN,680.0,...,0,0.0,0,0,NaN,221.0,C,NaN,1,406.0
2,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,NaN,142.0,NaN,...,0,0.0,0,1,AS_NEW,NaN,NaN,GAS,0,NaN
3,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,2024.0,187.0,505.0,...,0,0.0,0,1,NaN,99.0,A,NaN,0,NaN
4,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,2022.0,169.0,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN

### Unique values

In [22]:
# See unique values in dataframe
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values in column '{column}' is : {unique_values}")

Unique values in column 'price' is : [225000. 449000. 335000. ... 370455. 273250. 538008.]
Unique values in column 'property_type' is : ['APARTMENT' 'HOUSE']
Unique values in column 'subproperty_type' is : ['APARTMENT' 'HOUSE' 'DUPLEX' 'VILLA' 'EXCEPTIONAL_PROPERTY' 'FLAT_STUDIO'
 'GROUND_FLOOR' 'PENTHOUSE' 'FARMHOUSE' 'APARTMENT_BLOCK'
 'COUNTRY_COTTAGE' 'TOWN_HOUSE' 'SERVICE_FLAT' 'MANSION'
 'MIXED_USE_BUILDING' 'MANOR_HOUSE' 'LOFT' 'BUNGALOW' 'KOT' 'CASTLE'
 'CHALET' 'OTHER_PROPERTY' 'TRIPLEX']
Unique values in column 'region' is : ['Flanders' 'Brussels-Capital' 'Wallonia' nan]
Unique values in column 'province' is : ['Antwerp' 'East Flanders' 'Brussels' 'Walloon Brabant' 'Flemish Brabant'
 'LiÃ¨ge' 'West Flanders' 'Hainaut' 'Luxembourg' 'Limburg' 'Namur' nan]
Unique values in column 'locality' is : ['Antwerp' 'Gent' 'Brussels' 'Turnhout' 'Nivelles' 'Halle-Vilvoorde'
 'LiÃ¨ge' 'Brugge' 'Sint-Niklaas' 'Veurne' 'Verviers' 'Mechelen'
 'Charleroi' 'Dendermonde' 'Bastogne' 'Leuven' 'Hasselt' 'Mons' 'Aalst'
 'Tournai' 'Oostend' 'Oudenaarde' 'Philippeville' 'Kortrijk' 'Dinant'
 'Ieper' 'Huy' 'Marche-en-Famenne' 'Namur' 'Maaseik' 'Mouscron'
 'Diksmuide' 'Soignies' 'NeufchÃ¢teau' 'Arlon' 'Tongeren' 'Waremme' 'Thuin'
 'Virton' 'Ath' 'Roeselare' 'Tielt' 'Eeklo' nan]
Unique values in column 'zip_code' is : [2050 9185 1070 ... 5021 9572 6533]
Unique values in column 'construction_year' is : [1963.   nan 2024. 2022. 2023. 1935. 2011. 1918. 1946. 1973. 1922. 2001.
 1968. 1982. 2021. 1970. 1938. 1992. 2019. 1978. 1981. 2016. 1960. 1990.
 1971. 1905. 2020. 1958. 1965. 1983. 2012. 1974. 2005. 1930. 1931. 2008.
 1961. 1955. 1977. 2009. 1999. 1994. 1911. 1914. 1948. 1995. 1933. 1959.
 1900. 1966. 1940. 1987. 1991. 1934. 2007. 1932. 1964. 1830. 2010. 1949.
 1912. 1997. 1870. 1972. 1850. 1776. 1976. 1980. 2014. 1979. 1920. 1947.
 1875. 1899. 1969. 1954. 1908. 1942. 1988. 1996. 1956. 1919. 1950. 2003.
 1895. 1926. 1967. 1939. 1951. 1903. 1936. 1975. 1989. 2017. 1907. 1985.
 2013. 1910. 1962. 1957. 1904. 2018. 2006. 1890. 1952. 2015. 1924. 1953.
 2004. 1993. 1880. 1800. 2000. 1925. 1984. 1889. 1874. 1986. 1937. 1915.
 1998. 1860. 1906. 1943. 1923. 1928. 1921. 1901. 1902. 1927. 1917. 1913.
 1872. 1945. 1944. 1780. 1859. 1892. 1778. 1896. 2002. 1909. 1929. 1869.
 1898. 1810. 1858. 1863. 1888. 1865. 1844. 1891. 1886. 1941. 1882. 1772.
 1849. 1764. 1894. 1796. 1884. 1847. 1793. 1916. 1857. 1789. 1853. 1760.
 1854. 1816. 1879. 1871. 1786. 1881. 1834. 1887. 1856. 1877. 1790. 1897.
 1840. 1759. 1753. 1862. 1878. 1815. 1825. 1873. 1883. 1773. 1824. 1868.
 1820. 1885. 1893. 1771. 1842. 1876. 1846. 1775. 1866. 1845. 1861. 1788.
 1777. 1822. 1832. 1770. 1855. 1781. 1826. 1819. 1774. 1812. 1757. 1783.
 1769. 1836. 1835. 1867. 1782. 1848.]
Unique values in column 'total_area_sqm' is : [1.0000e+02        nan 1.4200e+02 1.8700e+02 1.6900e+02 8.0000e+01
 1.5500e+02 2.7700e+02 3.0900e+02 1.3300e+02 1.0600e+02 1.0200e+02
 1.5000e+02 8.3000e+01 1.1500e+02 5.8300e+02 1.8500e+02 3.8000e+01
 8.4000e+01 1.6000e+02 8.5000e+01 4.9000e+01 1.2700e+02 9.3000e+01
 1.0900e+02 1.1200e+02 1.8000e+02 6.0000e+02 8.2000e+01 2.2000e+02
 9.6000e+01 7.9000e+01 2.0400e+02 6.9000e+01 1.2100e+02 1.2000e+02
 4.8000e+02 1.0800e+02 1.3000e+02 3.0600e+02 8.7000e+01 3.0000e+02
 9.2000e+01 2.0000e+02 1.8100e+02 1.2400e+02 1.0700e+02 1.6600e+02
 1.4600e+02 8.6000e+01 1.4800e+02 9.5000e+01 2.1300e+02 3.0000e+01
 1.1100e+02 7.8000e+01 2.4300e+02 8.8000e+01 2.3500e+02 2.3100e+02
 2.2900e+02 4.3100e+02 2.1000e+02 1.6200e+02 2.5000e+02 1.5000e+03
 1.4500e+02 1.6800e+02 9.0000e+01 6.5000e+01 1.1900e+02 2.5900e+02
 2.1800e+02 4.0000e+01 1.3500e+02 1.9100e+02 9.0000e+02 7.0000e+01
 1.1000e+02 7.5000e+01 1.4400e+02 1.6100e+02 1.7500e+02 1.8300e+02
 1.8600e+02 1.0500e+02 1.0300e+02 2.0600e+02 1.9300e+02 1.7000e+02
 6.1000e+01 1.5600e+02 2.6000e+02 1.5800e+02 5.3700e+02 2.5500e+02
 4.2000e+01 1.0400e+02 2.0500e+02 6.0000e+01 1.8400e+02 1.2600e+02
 3.3000e+02 1.4300e+02 2.5100e+02 1.9000e+01 5.0000e+01 2.8100e+02
 2.9000e+02 1.7900e+02 1.6700e+02 1.4100e+02 8.1000e+01 9.8000e+01
 4.4200e+02 3.8000e+02 2.1820e+03 1.3400e+02 1.3600e+02 2.2600e+02
 1.2800e+02 1.9000e+02 2.8600e+02 1.4000e+02 8.4000e+02 2.5600e+02
 1.8800e+02 1.8900e+02 4.0000e+02 2.0800e+02 1.9200e+02 9.1000e+01
 4.5400e+02 2.4100e+02 3.6000e+01 5.3200e+02 1.1700e+02 6.8000e+01
 1.2900e+02 2.4000e+02 2.1500e+02 2.9100e+02 3.8500e+02 9.4000e+01
 5.4000e+01 5.8000e+01 8.9000e+01 1.6400e+02 1.8200e+02 1.8000e+01
 7.2000e+02 2.8500e+02 4.5000e+01 2.8800e+02 2.8200e+02 5.1000e+01
 2.3400e+02 7.0000e+02 7.6000e+01 1.3200e+02 3.1600e+02 1.7700e+02
 2.9400e+02 3.5000e+02 2.1100e+02 1.2300e+02 2.3800e+02 1.7800e+02
 2.2400e+02 1.2500e+02 6.2000e+01 2.0300e+02 1.1400e+02 3.2000e+02
 7.4000e+01 6.7000e+01 2.2500e+02 2.3000e+02 9.9000e+01 5.9000e+01
 6.1000e+02 2.4600e+02 1.7600e+02 3.2500e+02 1.5400e+02 2.7000e+02
 1.9900e+02 1.6300e+02 3.4600e+02 1.6500e+02 1.7300e+02 5.6000e+01
 1.3100e+02 2.9500e+02 2.6500e+02 2.9600e+02 2.9800e+02 4.4000e+01
 7.3000e+01 3.5000e+01 3.5500e+02 2.7800e+02 3.0500e+02 2.2300e+02
 3.1500e+02 3.5400e+02 7.2000e+01 2.0900e+02 9.7000e+01 1.9400e+02
 7.1000e+01 3.2600e+02 1.7400e+02 1.5300e+02 1.0300e+03 3.1000e+02
 2.8000e+01 6.3000e+01 1.5200e+02 4.3000e+02 3.1000e+01 1.1600e+02
 2.1200e+02 6.6000e+01 7.7000e+01 1.9500e+02 1.0100e+02 3.1700e+02
 2.4200e+02 6.1800e+02 1.2200e+02 2.6400e+02 2.5700e+02 2.3300e+02
 1.1800e+02 2.0700e+02 1.2880e+03 1.4700e+02 2.8000e+02 2.1600e+02
 2.5200e+02 1.3700e+02 3.3000e+01 3.5300e+02 1.1300e+02 1.3900e+02
 1.9600e+02 2.3600e+02 9.4300e+02 4.3800e+02 2.4900e+02 5.6000e+02
 3.9200e+02 1.4900e+02 2.6300e+02 5.4300e+02 5.0000e+02 2.4500e+02
 1.9800e+02 1.7000e+03 2.6700e+02 2.0200e+02 2.9000e+01 6.0600e+02
 7.1900e+02 4.4500e+02 3.9000e+02 3.8300e+02 1.7100e+02 1.5100e+02
 2.1700e+02 1.1500e+03 2.2100e+02 4.6500e+02 5.7000e+01 1.2000e+03
 3.4500e+02 2.3900e+02 4.3200e+02 5.5000e+01 1.5700e+02 8.2500e+02
 3.4700e+02 2.0000e+01 2.7400e+02 2.5400e+02 3.0300e+02 2.7200e+02
 6.4000e+01 5.2000e+01 1.5900e+02 1.7000e+01 1.3800e+02 2.5300e+02
 2.1400e+02 2.4800e+02 3.2000e+01 2.6600e+02 4.8000e+01 1.9700e+02
 8.2800e+02 1.1270e+03 2.8700e+02 3.7500e+02 2.7900e+02 4.1500e+02
 3.3200e+02 2.2200e+02 2.9200e+02 5.3000e+01 2.5000e+01 1.7200e+02
 1.6450e+03 3.7000e+02 3.9500e+02 3.6500e+02 3.0800e+02 3.5600e+02
 4.7000e+01 4.0800e+02 3.4000e+01 1.1200e+03 4.2000e+02 3.1300e+02
 5.5000e+02 3.6600e+02 2.0100e+02 3.6000e+02 2.9900e+02 6.0900e+02
 7.9900e+02 4.2500e+02 6.5400e+02 2.8300e+02 4.0200e+02 2.6100e+02
 4.6000e+02 3.3100e+02 5.7500e+02 3.8900e+02 3.3500e+02 4.3000e+01
 3.3700e+02 3.3400e+02 2.7500e+02 4.3500e+02 3.9400e+02 2.1900e+02
 4.6000e+01 4.1000e+01 2.6000e+01 4.5000e+02 2.7100e+02 5.3000e+02
 2.4700e+02 1.2520e+03 3.1200e+02 6.6300e+02 4.7500e+02 2.2800e+02
 1.4000e+03 4.9200e+02 5.0800e+02 2.6200e+02 3.6900e+02 3.2800e+02
 4.1800e+02 5.4400e+02 1.5000e+01 3.4400e+02 3.7300e+02 2.1000e+01
 3.3600e+02 1.1040e+03 2.2700e+02 3.4000e+02 1.6000e+01 3.7600e+02
 2.7600e+02 4.2600e+02 7.9400e+02 4.5300e+02 1.2000e+01 3.7800e+02
 4.4700e+02 3.4200e+02 1.0000e+03 2.4400e+02 5.0500e+02 4.8500e+02
 3.3800e+02 3.4300e+02 4.0100e+02 7.5000e+02 4.8200e+02 4.0600e+02
 3.1400e+02 3.7000e+01 5.9700e+02 3.2200e+02 2.5800e+02 8.0000e+02
 4.9300e+02 2.8400e+02 5.2000e+02 4.7900e+02 1.3670e+03 3.2400e+02
 1.0550e+03 5.4000e+02 1.3500e+03 5.3800e+02 3.9900e+02 4.4800e+02
 5.9300e+02 2.9700e+02 7.7500e+02 3.8600e+02 3.9700e+02 3.2300e+02
 9.9100e+02 5.7800e+02 2.6800e+02 6.2000e+02 5.1500e+02 3.6700e+02
 2.3200e+02 6.8000e+02 4.4600e+02 1.3400e+03 3.3300e+02 3.0100e+02
 8.6400e+02 4.0400e+02 7.1600e+02 8.2700e+02 3.9100e+02 5.6500e+02
 4.2400e+02 4.5800e+02 3.2000e+03 8.8000e+02 5.0700e+02 5.5900e+02
 5.8700e+02 2.7300e+02 6.3600e+02 3.5700e+02 6.6000e+02 4.1000e+02
 1.1730e+03 8.8140e+04 3.9300e+02 4.0300e+02 4.0500e+02 4.8400e+02
 4.4400e+02 8.4500e+02 4.1900e+02 5.1600e+02 5.9100e+02 4.4000e+02
 1.0060e+03 3.2100e+02 5.0300e+02 5.1300e+02 8.5000e+02 3.9000e+01
 3.3900e+02 5.6200e+02 4.9500e+02 1.1000e+04 1.4770e+04 4.6200e+02
 4.1700e+02 3.1900e+02 5.3500e+02 4.5200e+02 9.6700e+02 6.5000e+02
 4.2700e+02 1.1550e+03 5.4200e+02 6.7200e+02 6.2700e+02 4.2200e+02
 3.8200e+02 2.3700e+02 6.6200e+02 4.6800e+02 6.4600e+02 8.4300e+02
 8.0200e+02 3.7200e+02 2.2020e+03 2.6900e+02 2.4000e+01 4.1600e+02
 5.9400e+02 3.6300e+02 4.3300e+02 4.1300e+02 3.6100e+02 3.1800e+02
 8.6000e+02 3.6400e+02 3.0700e+02 6.1700e+02 7.8000e+02 5.3900e+02
 3.7400e+02 3.7100e+02 5.1000e+02 3.8700e+02 3.0200e+02 5.6800e+02
 4.7100e+02 6.8900e+02 2.3000e+01 2.7000e+01 9.3000e+02 3.8100e+02
 6.6100e+02 2.9300e+02 1.4000e+01 3.5900e+02 7.4700e+02 4.4100e+02
 3.8800e+02 1.5150e+03 3.5200e+02 3.7700e+02 4.2800e+02 3.5100e+02
 5.0600e+02 7.0900e+02 9.7000e+02 4.5500e+02 4.6900e+02 1.0070e+03
 4.8600e+02 7.3000e+02 4.6300e+02 3.4900e+02 8.2900e+02 4.5600e+02
 4.7200e+02 5.2200e+02 5.3300e+02 7.1700e+02 1.8750e+03 7.4800e+02
 3.4100e+02 4.2900e+02 3.0400e+02 3.6800e+02 6.4700e+02 4.1100e+02
 8.9000e+02 5.4100e+02 4.3900e+02 9.1700e+02 4.7600e+02 7.1800e+02
 6.7000e+02 6.4000e+02 9.8800e+02 5.7200e+02 1.3000e+03 4.3600e+02
 7.1300e+02 4.9100e+02 6.5500e+02 4.7000e+02 5.4900e+02 5.7300e+02
 9.3900e+02 3.6200e+02 4.0900e+02 7.7100e+02 4.9000e+02 8.5500e+02
 5.6400e+02 5.1900e+02 5.8000e+02 4.2300e+02 6.1900e+02 9.7400e+02
 5.3600e+02 7.4000e+02 7.6700e+02 8.5400e+02 1.0110e+03 1.7500e+03
 8.4100e+02 7.0600e+02 7.7360e+03 8.3000e+02 1.0400e+03 7.7000e+02
 5.7400e+02 1.4630e+03 4.1200e+02 7.0200e+02 4.8300e+02 5.2500e+02
 3.9800e+02 6.6700e+02 8.9500e+02 5.8500e+02 1.9000e+03 5.4600e+02
 2.8900e+02 7.6400e+02 1.1150e+03 7.8800e+02 5.4500e+02 3.8400e+02
 8.5700e+02 3.4800e+02 4.9400e+02 3.1100e+02 9.0800e+02 5.2600e+02
 3.2700e+02 4.9600e+02 4.9900e+02 1.0560e+03 4.5900e+02 9.6000e+02
 1.3600e+03 2.7730e+03 1.5500e+03 1.0150e+03 4.5700e+02 3.7900e+02
 1.1000e+03 2.3800e+03 6.5700e+02 9.6100e+02 8.7500e+02 7.1000e+02
 6.8600e+02 5.5100e+02 9.2500e+02 6.9800e+02 6.1400e+02 7.9000e+02
 4.3700e+02 5.0400e+02 7.6100e+02 5.5500e+02 3.2900e+02 8.7000e+02
 4.7800e+02 1.0390e+03 1.4780e+03 1.1890e+03 6.5200e+02 4.8900e+02
 9.5900e+02 5.7700e+02 4.6700e+02 6.3200e+02 3.9600e+02 9.5000e+02
 2.3000e+03 9.9800e+02 4.4900e+02 1.8890e+03 1.0250e+03 5.6300e+02
 9.2600e+03 6.7100e+02 7.2900e+02 6.4500e+02 6.7900e+02 8.7800e+02
 4.8800e+02 6.0700e+02 7.4400e+02 3.0000e+00 6.9000e+02 2.1590e+03
 4.4300e+02 1.3210e+03 5.1400e+02 4.8100e+02 3.5800e+02 4.0700e+02
 5.5300e+02 9.4200e+02 7.0500e+02 7.3200e+02 5.5700e+02 6.1500e+02
 8.6500e+02 6.0500e+02 8.9440e+03 8.8500e+02 4.6100e+02 1.0920e+03
 5.0900e+02 1.4900e+03 5.2100e+02 5.4800e+02 5.2900e+02 4.2100e+02
 4.8700e+02 1.3000e+01 6.0200e+02 9.0700e+02 1.1900e+03 5.0100e+02
 5.9500e+02 7.2500e+02 6.8500e+02 4.3400e+02 7.2700e+02 1.2650e+03
 2.2000e+01 1.2400e+03 9.8200e+02 6.7500e+02 1.0890e+03 7.2380e+03
 9.0200e+02 7.4200e+03 4.7300e+02 6.7300e+02 8.3200e+02 1.9940e+03
 8.3500e+02 9.9400e+02 9.6900e+02 6.4800e+02 8.0700e+02 5.2800e+02
 1.0100e+03 1.0900e+03 1.9500e+03 5.6700e+02 1.4610e+03 7.4200e+02
 5.3100e+02 4.7700e+02 7.9100e+02 8.1800e+02 8.2200e+02 6.1600e+02
 7.1500e+02 8.8700e+02 1.6520e+03 7.8500e+02 6.5600e+02 5.5400e+02
 6.8800e+02 2.2400e+03 7.5700e+02 1.1390e+03 1.1250e+04 5.6600e+02
 7.8300e+02 5.3400e+02 5.1100e+02 1.5348e+04 6.3000e+02 8.6700e+02
 8.6800e+02 1.2800e+03 8.6200e+02 5.5600e+02 2.4380e+03 5.7900e+02
 1.1600e+03 1.7430e+03 5.5200e+02 1.6800e+03 7.6000e+02 5.2700e+02
 7.5500e+02 8.1000e+02 6.4200e+02 5.7600e+02 2.0410e+03 6.6900e+02
 7.2100e+02 6.3900e+02 5.9000e+02 6.1200e+03 7.1100e+02 4.9800e+02
 6.9900e+02 5.2300e+02 5.5800e+02 7.3500e+02 7.0000e+00 1.0260e+03
 5.8900e+02 1.1570e+03 1.2820e+03 2.4000e+03 1.4820e+03 8.7200e+02
 7.5300e+02 1.7770e+03 9.0500e+02 5.8800e+02 5.1800e+02 1.4430e+03
 9.0400e+02 6.9400e+02 7.2800e+02 5.7000e+02 8.5600e+02 8.5300e+02
 1.4500e+03 4.1400e+02 9.7600e+02 1.2040e+03 3.0000e+03 9.8500e+02
 6.3400e+02 6.7600e+02 9.8000e+02 4.6600e+02 4.6400e+02 1.0420e+03
 7.1200e+02 8.8900e+02 6.3100e+02 7.3900e+02 9.2000e+02 1.0360e+03
 1.5290e+03 7.5800e+02 1.3940e+03 1.1910e+03 1.3800e+03 5.1200e+02
 9.8600e+02 1.8980e+03 1.1250e+03 5.4700e+02 1.0340e+03 2.1700e+03
 1.1650e+03 5.5960e+03 9.5700e+02 7.1400e+02 9.4400e+02 2.2000e+03
 1.1520e+03 9.5400e+02 2.3070e+03 1.2190e+03 1.1410e+03 7.0300e+02
 6.0400e+02 8.0800e+02 6.2500e+02 5.9800e+02 7.9300e+02 1.2380e+03
 5.9200e+02 2.0000e+03 1.5710e+03 7.4100e+02 5.2400e+02 9.4500e+02
 6.2200e+02 6.3300e+02 1.3370e+03 5.6900e+02 2.8180e+03 1.6500e+03
 1.3050e+03 1.2600e+03 7.5200e+02 1.1050e+03 1.1460e+03 5.0000e+03
 6.2300e+02 1.6000e+03 6.5100e+02 7.3500e+03 9.6800e+02 7.5100e+02
 7.4900e+02 6.0800e+02 1.4050e+03 1.0540e+03 9.5500e+02 5.0200e+02
 9.4000e+02 5.8600e+02 2.8500e+03 1.1340e+03 1.1690e+03 1.0235e+04
 5.9900e+02 7.2200e+02 9.3200e+02 7.0700e+02 1.3900e+03 1.6870e+03
 5.6100e+02 6.3700e+02 1.0000e+04 1.8010e+03 2.3430e+03 5.1700e+02
 6.4400e+02 8.7970e+03 2.2950e+03 1.3910e+03 1.8000e+03 4.9700e+02
 8.2000e+02 6.6400e+02 6.2800e+02 8.4800e+02 1.9310e+03 1.0160e+03
 7.0800e+02 7.4300e+02 7.3800e+02 8.8200e+02 1.3020e+03 6.8200e+02
 1.4650e+03 8.0300e+02 8.2100e+02 1.3110e+03 6.6500e+02 2.7110e+03
 1.0210e+03 6.8300e+02 2.8000e+03 8.7300e+02 1.1660e+03 3.3900e+03
 4.5100e+02 8.1900e+02 9.2900e+02 6.9500e+02 1.6200e+03 8.8400e+02
 4.7400e+02 1.8160e+03 1.5600e+03 1.3850e+03]
Unique values in column 'surface_land_sqm' is : [  nan  680.  505. ... 2964. 2332. 4660.]
Unique values in column 'nbr_frontages' is : [ 2. nan  4.  3.  1.  9.  6.  7. 15.  8. 13. 12. 47.  5. 10. 18.]
Unique values in column 'nbr_bedrooms' is : [  2.   3.   1.   4.   6.   7.   5.   0.  20.  10.   9.   8.  19.  13.
  14.  12.  15.  27.  25.  16.  30.  21.  11.  18.  17.  22.  24.  39.
  47.  36.  48. 200.  31.  34.  26.  90.  28.  40.  44.  35. 100.  23.
  37.  41.  70.  45.  60.]
Unique values in column 'equipped_kitchen' is : ['INSTALLED' nan 'HYPER_EQUIPPED' 'NOT_INSTALLED' 'USA_UNINSTALLED'
 'USA_HYPER_EQUIPPED' 'SEMI_EQUIPPED' 'USA_INSTALLED' 'USA_SEMI_EQUIPPED']
Unique values in column 'fl_furnished' is : [0 1]
Unique values in column 'fl_open_fire' is : [0 1]
Unique values in column 'fl_terrace' is : [1 0]
Unique values in column 'terrace_sqm' is : [5.000e+00 0.000e+00       nan 2.000e+01 1.100e+01 2.400e+01 7.000e+00
 4.000e+01 1.600e+01 1.200e+01 1.300e+01 4.500e+01 8.000e+00 1.400e+01
 1.000e+01 2.500e+01 2.300e+01 3.800e+01 1.800e+01 2.600e+01 2.700e+01
 2.200e+01 3.500e+01 5.100e+01 8.100e+01 1.500e+01 6.000e+00 1.000e+00
 3.600e+01 3.000e+01 9.000e+00 3.000e+00 7.000e+01 8.800e+01 4.000e+00
 2.100e+01 2.800e+01 2.300e+02 1.700e+01 5.900e+01 2.000e+00 7.600e+01
 7.900e+01 1.900e+01 1.120e+02 5.200e+01 3.700e+01 5.000e+01 6.400e+01
 4.800e+01 1.900e+02 4.400e+01 1.140e+02 2.900e+01 3.100e+01 6.000e+01
 1.000e+02 4.100e+01 1.180e+02 5.600e+01 2.600e+02 1.050e+02 5.800e+01
 2.000e+02 3.200e+01 1.660e+02 6.800e+01 4.200e+01 8.500e+01 4.600e+01
 1.100e+02 1.500e+02 8.400e+01 3.300e+01 1.600e+02 5.500e+01 4.900e+01
 1.620e+02 3.900e+01 1.020e+02 3.400e+01 7.500e+01 5.300e+01 1.260e+02
 9.200e+01 9.000e+01 4.700e+01 1.350e+02 1.130e+02 1.200e+02 8.000e+01
 1.240e+02 1.060e+02 6.200e+01 1.540e+02 3.466e+03 5.400e+01 4.300e+01
 1.090e+02 4.950e+02 9.100e+01 8.600e+01 2.100e+02 6.300e+01 1.820e+02
 8.200e+01 7.100e+01 1.690e+02 1.750e+02 6.900e+01 1.320e+02 2.020e+02
 6.500e+01 1.680e+02 8.700e+01 6.700e+01 1.800e+02 8.300e+01 1.030e+02
 6.100e+01 7.700e+01 1.420e+02 3.110e+02 1.040e+02 1.110e+02 5.000e+02
 9.300e+01 7.200e+01 9.500e+01 7.300e+01 1.610e+02 5.700e+01 9.700e+01
 3.900e+02 8.900e+01 4.500e+02 2.320e+02 1.300e+02 1.700e+02 1.210e+02
 6.600e+01 1.640e+02 2.200e+02 1.010e+02 9.900e+01 7.800e+01 1.330e+02
 1.400e+02 1.000e+03 3.750e+02 5.430e+02 1.250e+02 2.800e+02 3.286e+03
 1.150e+02 1.160e+02 7.400e+01 1.070e+02 5.500e+02 1.280e+02 1.470e+02
 9.800e+01 6.750e+02 1.220e+02 1.840e+02 1.370e+02 1.670e+02 1.360e+02
 1.310e+02 3.820e+02 9.400e+01 1.270e+02 1.380e+02 2.500e+02 1.440e+02
 2.769e+03 1.850e+02 1.080e+02 2.450e+02 2.400e+02 1.780e+02 3.000e+02
 1.390e+02 9.730e+02 2.010e+02 1.760e+02 2.250e+02 2.700e+02 3.250e+02
 2.360e+02 1.710e+02 1.530e+02 2.520e+02 1.870e+02 1.450e+02 1.340e+02
 1.560e+02 3.100e+02 4.550e+02 9.480e+02 1.740e+02 1.790e+02 1.950e+02
 1.430e+02 1.230e+02 5.530e+02 6.000e+02 2.040e+02 2.130e+02 3.120e+02
 7.600e+02 1.770e+02 3.800e+02 1.880e+02 2.771e+03 1.650e+02 2.150e+02
 7.810e+02 1.520e+02 2.070e+02 7.000e+02 4.000e+02 2.597e+03 3.600e+02
 1.720e+02 3.580e+02 3.400e+02 4.800e+02 2.122e+03]
Unique values in column 'fl_garden' is : [0 1]
Unique values in column 'garden_sqm' is : [   0.  142.   35. ... 1545. 2165.  631.]
Unique values in column 'fl_swimming_pool' is : [0 1]
Unique values in column 'fl_floodzone' is : [0 1]
Unique values in column 'state_building' is : [nan 'AS_NEW' 'GOOD' 'TO_RENOVATE' 'TO_BE_DONE_UP' 'JUST_RENOVATED'
 'TO_RESTORE']
Unique values in column 'primary_energy_consumption_sqm' is : [  231.   221.    nan ... 10851.   956. 32991.]
Unique values in column 'epc' is : ['C' nan 'A' 'A+' 'D' 'B' 'E' 'G' 'F' 'A++']
Unique values in column 'heating_type' is : ['GAS' nan 'FUELOIL' 'PELLET' 'ELECTRIC' 'CARBON' 'SOLAR' 'WOOD']
Unique values in column 'fl_double_glazing' is : [1 0]
Unique values in column 'cadastral_income' is : [ 922.  406.   nan ... 1746. 6458. 1867.]

In [23]:
# See unique values of a specific column
unique_value = df["subproperty_type"].unique()
print(unique_value)

# See unique values of multiple columns
unique_values_multi = df[['property_type', 'subproperty_type', 'region', 'province', 'locality', 'equipped_kitchen', 'state_building', 'epc', 'heating_type']].apply(lambda x: x.unique())
print("\nUnique values in columns:\n", unique_values_multi)

['APARTMENT' 'HOUSE' 'DUPLEX' 'VILLA' 'EXCEPTIONAL_PROPERTY' 'FLAT_STUDIO'
 'GROUND_FLOOR' 'PENTHOUSE' 'FARMHOUSE' 'APARTMENT_BLOCK'
 'COUNTRY_COTTAGE' 'TOWN_HOUSE' 'SERVICE_FLAT' 'MANSION'
 'MIXED_USE_BUILDING' 'MANOR_HOUSE' 'LOFT' 'BUNGALOW' 'KOT' 'CASTLE'
 'CHALET' 'OTHER_PROPERTY' 'TRIPLEX']

Unique values in columns:
 property_type                                      [APARTMENT, HOUSE]
subproperty_type    [APARTMENT, HOUSE, DUPLEX, VILLA, EXCEPTIONAL_...
region                    [Flanders, Brussels-Capital, Wallonia, nan]
province            [Antwerp, East Flanders, Brussels, Walloon Bra...
locality            [Antwerp, Gent, Brussels, Turnhout, Nivelles, ...
equipped_kitchen    [INSTALLED, nan, HYPER_EQUIPPED, NOT_INSTALLED...
state_building      [nan, AS_NEW, GOOD, TO_RENOVATE, TO_BE_DONE_UP...
epc                               [C, nan, A, A+, D, B, E, G, F, A++]
heating_type        [GAS, nan, FUELOIL, PELLET, ELECTRIC, CARBON, ...
dtype: object

In [24]:
# See unique values of multiple columns
columns = df[['property_type', 'subproperty_type', 'region', 'province', 'locality', 'equipped_kitchen', 'state_building', 'epc', 'heating_type']]
for column in columns:
    multi_columns = df[column].unique() 
    print(f"Unique values in column '{column}': {multi_columns}")

Unique values in column 'property_type': ['APARTMENT' 'HOUSE']
Unique values in column 'subproperty_type': ['APARTMENT' 'HOUSE' 'DUPLEX' 'VILLA' 'EXCEPTIONAL_PROPERTY' 'FLAT_STUDIO'
 'GROUND_FLOOR' 'PENTHOUSE' 'FARMHOUSE' 'APARTMENT_BLOCK'
 'COUNTRY_COTTAGE' 'TOWN_HOUSE' 'SERVICE_FLAT' 'MANSION'
 'MIXED_USE_BUILDING' 'MANOR_HOUSE' 'LOFT' 'BUNGALOW' 'KOT' 'CASTLE'
 'CHALET' 'OTHER_PROPERTY' 'TRIPLEX']
Unique values in column 'region': ['Flanders' 'Brussels-Capital' 'Wallonia' nan]
Unique values in column 'province': ['Antwerp' 'East Flanders' 'Brussels' 'Walloon Brabant' 'Flemish Brabant'
 'LiÃ¨ge' 'West Flanders' 'Hainaut' 'Luxembourg' 'Limburg' 'Namur' nan]
Unique values in column 'locality': ['Antwerp' 'Gent' 'Brussels' 'Turnhout' 'Nivelles' 'Halle-Vilvoorde'
 'LiÃ¨ge' 'Brugge' 'Sint-Niklaas' 'Veurne' 'Verviers' 'Mechelen'
 'Charleroi' 'Dendermonde' 'Bastogne' 'Leuven' 'Hasselt' 'Mons' 'Aalst'
 'Tournai' 'Oostend' 'Oudenaarde' 'Philippeville' 'Kortrijk' 'Dinant'
 'Ieper' 'Huy' 'Marche-en-Famenne' 'Namur' 'Maaseik' 'Mouscron'
 'Diksmuide' 'Soignies' 'NeufchÃ¢teau' 'Arlon' 'Tongeren' 'Waremme' 'Thuin'
 'Virton' 'Ath' 'Roeselare' 'Tielt' 'Eeklo' nan]
Unique values in column 'equipped_kitchen': ['INSTALLED' nan 'HYPER_EQUIPPED' 'NOT_INSTALLED' 'USA_UNINSTALLED'
 'USA_HYPER_EQUIPPED' 'SEMI_EQUIPPED' 'USA_INSTALLED' 'USA_SEMI_EQUIPPED']
Unique values in column 'state_building': [nan 'AS_NEW' 'GOOD' 'TO_RENOVATE' 'TO_BE_DONE_UP' 'JUST_RENOVATED'
 'TO_RESTORE']
Unique values in column 'epc': ['C' nan 'A' 'A+' 'D' 'B' 'E' 'G' 'F' 'A++']
Unique values in column 'heating_type': ['GAS' nan 'FUELOIL' 'PELLET' 'ELECTRIC' 'CARBON' 'SOLAR' 'WOOD']

### dtypes

In [25]:
# Print dtypes
df.info()
# Select datatypes
data_object = df.select_dtypes(include='object')
data_float = df.select_dtypes(include='float64')
data_int = df.select_dtypes(include='int64')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75511 entries, 0 to 75510
Data columns (total 27 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   price                           75511 non-null  float64
 1   property_type                   75511 non-null  object
 2   subproperty_type                75511 non-null  object
 3   region                          75508 non-null  object
 4   province                        75508 non-null  object
 5   locality                        75508 non-null  object
 6   zip_code                        75511 non-null  int64
 7   construction_year               42120 non-null  float64
 8   total_area_sqm                  67896 non-null  float64
 9   surface_land_sqm                39255 non-null  float64
 10  nbr_frontages                   49165 non-null  float64
 11  nbr_bedrooms                    75511 non-null  float64
 12  equipped_kitchen                42489 non-null  object
 13  fl_furnished                    75511 non-null  int64
 14  fl_open_fire                    75511 non-null  int64
 15  fl_terrace                      75511 non-null  int64
 16  terrace_sqm                     62371 non-null  float64
 17  fl_garden                       75511 non-null  int64
 18  garden_sqm                      72572 non-null  float64
 19  fl_swimming_pool                75511 non-null  int64
 20  fl_floodzone                    75511 non-null  int64
 21  state_building                  48868 non-null  object
 22  primary_energy_consumption_sqm  48944 non-null  float64
 23  epc                             51508 non-null  object
 24  heating_type                    44067 non-null  object
 25  fl_double_glazing               75511 non-null  int64
 26  cadastral_income                30544 non-null  float64
dtypes: float64(10), int64(8), object(9)
memory usage: 15.6+ MB

In [26]:
data = df.select_dtypes(include='object')

for column in data.columns:
    unique_values = data[column].unique()
    print(f"Unique values in column '{column}' is : {unique_values}")

Unique values in column 'property_type' is : ['APARTMENT' 'HOUSE']
Unique values in column 'subproperty_type' is : ['APARTMENT' 'HOUSE' 'DUPLEX' 'VILLA' 'EXCEPTIONAL_PROPERTY' 'FLAT_STUDIO'
 'GROUND_FLOOR' 'PENTHOUSE' 'FARMHOUSE' 'APARTMENT_BLOCK'
 'COUNTRY_COTTAGE' 'TOWN_HOUSE' 'SERVICE_FLAT' 'MANSION'
 'MIXED_USE_BUILDING' 'MANOR_HOUSE' 'LOFT' 'BUNGALOW' 'KOT' 'CASTLE'
 'CHALET' 'OTHER_PROPERTY' 'TRIPLEX']
Unique values in column 'region' is : ['Flanders' 'Brussels-Capital' 'Wallonia' nan]
Unique values in column 'province' is : ['Antwerp' 'East Flanders' 'Brussels' 'Walloon Brabant' 'Flemish Brabant'
 'LiÃ¨ge' 'West Flanders' 'Hainaut' 'Luxembourg' 'Limburg' 'Namur' nan]
Unique values in column 'locality' is : ['Antwerp' 'Gent' 'Brussels' 'Turnhout' 'Nivelles' 'Halle-Vilvoorde'
 'LiÃ¨ge' 'Brugge' 'Sint-Niklaas' 'Veurne' 'Verviers' 'Mechelen'
 'Charleroi' 'Dendermonde' 'Bastogne' 'Leuven' 'Hasselt' 'Mons' 'Aalst'
 'Tournai' 'Oostend' 'Oudenaarde' 'Philippeville' 'Kortrijk' 'Dinant'
 'Ieper' 'Huy' 'Marche-en-Famenne' 'Namur' 'Maaseik' 'Mouscron'
 'Diksmuide' 'Soignies' 'NeufchÃ¢teau' 'Arlon' 'Tongeren' 'Waremme' 'Thuin'
 'Virton' 'Ath' 'Roeselare' 'Tielt' 'Eeklo' nan]
Unique values in column 'equipped_kitchen' is : ['INSTALLED' nan 'HYPER_EQUIPPED' 'NOT_INSTALLED' 'USA_UNINSTALLED'
 'USA_HYPER_EQUIPPED' 'SEMI_EQUIPPED' 'USA_INSTALLED' 'USA_SEMI_EQUIPPED']
Unique values in column 'state_building' is : [nan 'AS_NEW' 'GOOD' 'TO_RENOVATE' 'TO_BE_DONE_UP' 'JUST_RENOVATED'
 'TO_RESTORE']
Unique values in column 'epc' is : ['C' nan 'A' 'A+' 'D' 'B' 'E' 'G' 'F' 'A++']
Unique values in column 'heating_type' is : ['GAS' nan 'FUELOIL' 'PELLET' 'ELECTRIC' 'CARBON' 'SOLAR' 'WOOD']

In [27]:
data = df.select_dtypes(include='float64')

for column in data.columns:
    unique_values = data[column].unique()
    print(f"Unique values in column '{column}' is : {unique_values}")

Unique values in column 'price' is : [225000. 449000. 335000. ... 370455. 273250. 538008.]
Unique values in column 'construction_year' is : [1963.   nan 2024. 2022. 2023. 1935. 2011. 1918. 1946. 1973. 1922. 2001.
 1968. 1982. 2021. 1970. 1938. 1992. 2019. 1978. 1981. 2016. 1960. 1990.
 1971. 1905. 2020. 1958. 1965. 1983. 2012. 1974. 2005. 1930. 1931. 2008.
 1961. 1955. 1977. 2009. 1999. 1994. 1911. 1914. 1948. 1995. 1933. 1959.
 1900. 1966. 1940. 1987. 1991. 1934. 2007. 1932. 1964. 1830. 2010. 1949.
 1912. 1997. 1870. 1972. 1850. 1776. 1976. 1980. 2014. 1979. 1920. 1947.
 1875. 1899. 1969. 1954. 1908. 1942. 1988. 1996. 1956. 1919. 1950. 2003.
 1895. 1926. 1967. 1939. 1951. 1903. 1936. 1975. 1989. 2017. 1907. 1985.
 2013. 1910. 1962. 1957. 1904. 2018. 2006. 1890. 1952. 2015. 1924. 1953.
 2004. 1993. 1880. 1800. 2000. 1925. 1984. 1889. 1874. 1986. 1937. 1915.
 1998. 1860. 1906. 1943. 1923. 1928. 1921. 1901. 1902. 1927. 1917. 1913.
 1872. 1945. 1944. 1780. 1859. 1892. 1778. 1896. 2002. 1909. 1929. 1869.
 1898. 1810. 1858. 1863. 1888. 1865. 1844. 1891. 1886. 1941. 1882. 1772.
 1849. 1764. 1894. 1796. 1884. 1847. 1793. 1916. 1857. 1789. 1853. 1760.
 1854. 1816. 1879. 1871. 1786. 1881. 1834. 1887. 1856. 1877. 1790. 1897.
 1840. 1759. 1753. 1862. 1878. 1815. 1825. 1873. 1883. 1773. 1824. 1868.
 1820. 1885. 1893. 1771. 1842. 1876. 1846. 1775. 1866. 1845. 1861. 1788.
 1777. 1822. 1832. 1770. 1855. 1781. 1826. 1819. 1774. 1812. 1757. 1783.
 1769. 1836. 1835. 1867. 1782. 1848.]
Unique values in column 'total_area_sqm' is : [1.0000e+02        nan 1.4200e+02 1.8700e+02 1.6900e+02 8.0000e+01
 1.5500e+02 2.7700e+02 3.0900e+02 1.3300e+02 1.0600e+02 1.0200e+02
 1.5000e+02 8.3000e+01 1.1500e+02 5.8300e+02 1.8500e+02 3.8000e+01
 8.4000e+01 1.6000e+02 8.5000e+01 4.9000e+01 1.2700e+02 9.3000e+01
 1.0900e+02 1.1200e+02 1.8000e+02 6.0000e+02 8.2000e+01 2.2000e+02
 9.6000e+01 7.9000e+01 2.0400e+02 6.9000e+01 1.2100e+02 1.2000e+02
 4.8000e+02 1.0800e+02 1.3000e+02 3.0600e+02 8.7000e+01 3.0000e+02
 9.2000e+01 2.0000e+02 1.8100e+02 1.2400e+02 1.0700e+02 1.6600e+02
 1.4600e+02 8.6000e+01 1.4800e+02 9.5000e+01 2.1300e+02 3.0000e+01
 1.1100e+02 7.8000e+01 2.4300e+02 8.8000e+01 2.3500e+02 2.3100e+02
 2.2900e+02 4.3100e+02 2.1000e+02 1.6200e+02 2.5000e+02 1.5000e+03
 1.4500e+02 1.6800e+02 9.0000e+01 6.5000e+01 1.1900e+02 2.5900e+02
 2.1800e+02 4.0000e+01 1.3500e+02 1.9100e+02 9.0000e+02 7.0000e+01
 1.1000e+02 7.5000e+01 1.4400e+02 1.6100e+02 1.7500e+02 1.8300e+02
 1.8600e+02 1.0500e+02 1.0300e+02 2.0600e+02 1.9300e+02 1.7000e+02
 6.1000e+01 1.5600e+02 2.6000e+02 1.5800e+02 5.3700e+02 2.5500e+02
 4.2000e+01 1.0400e+02 2.0500e+02 6.0000e+01 1.8400e+02 1.2600e+02
 3.3000e+02 1.4300e+02 2.5100e+02 1.9000e+01 5.0000e+01 2.8100e+02
 2.9000e+02 1.7900e+02 1.6700e+02 1.4100e+02 8.1000e+01 9.8000e+01
 4.4200e+02 3.8000e+02 2.1820e+03 1.3400e+02 1.3600e+02 2.2600e+02
 1.2800e+02 1.9000e+02 2.8600e+02 1.4000e+02 8.4000e+02 2.5600e+02
 1.8800e+02 1.8900e+02 4.0000e+02 2.0800e+02 1.9200e+02 9.1000e+01
 4.5400e+02 2.4100e+02 3.6000e+01 5.3200e+02 1.1700e+02 6.8000e+01
 1.2900e+02 2.4000e+02 2.1500e+02 2.9100e+02 3.8500e+02 9.4000e+01
 5.4000e+01 5.8000e+01 8.9000e+01 1.6400e+02 1.8200e+02 1.8000e+01
 7.2000e+02 2.8500e+02 4.5000e+01 2.8800e+02 2.8200e+02 5.1000e+01
 2.3400e+02 7.0000e+02 7.6000e+01 1.3200e+02 3.1600e+02 1.7700e+02
 2.9400e+02 3.5000e+02 2.1100e+02 1.2300e+02 2.3800e+02 1.7800e+02
 2.2400e+02 1.2500e+02 6.2000e+01 2.0300e+02 1.1400e+02 3.2000e+02
 7.4000e+01 6.7000e+01 2.2500e+02 2.3000e+02 9.9000e+01 5.9000e+01
 6.1000e+02 2.4600e+02 1.7600e+02 3.2500e+02 1.5400e+02 2.7000e+02
 1.9900e+02 1.6300e+02 3.4600e+02 1.6500e+02 1.7300e+02 5.6000e+01
 1.3100e+02 2.9500e+02 2.6500e+02 2.9600e+02 2.9800e+02 4.4000e+01
 7.3000e+01 3.5000e+01 3.5500e+02 2.7800e+02 3.0500e+02 2.2300e+02
 3.1500e+02 3.5400e+02 7.2000e+01 2.0900e+02 9.7000e+01 1.9400e+02
 7.1000e+01 3.2600e+02 1.7400e+02 1.5300e+02 1.0300e+03 3.1000e+02
 2.8000e+01 6.3000e+01 1.5200e+02 4.3000e+02 3.1000e+01 1.1600e+02
 2.1200e+02 6.6000e+01 7.7000e+01 1.9500e+02 1.0100e+02 3.1700e+02
 2.4200e+02 6.1800e+02 1.2200e+02 2.6400e+02 2.5700e+02 2.3300e+02
 1.1800e+02 2.0700e+02 1.2880e+03 1.4700e+02 2.8000e+02 2.1600e+02
 2.5200e+02 1.3700e+02 3.3000e+01 3.5300e+02 1.1300e+02 1.3900e+02
 1.9600e+02 2.3600e+02 9.4300e+02 4.3800e+02 2.4900e+02 5.6000e+02
 3.9200e+02 1.4900e+02 2.6300e+02 5.4300e+02 5.0000e+02 2.4500e+02
 1.9800e+02 1.7000e+03 2.6700e+02 2.0200e+02 2.9000e+01 6.0600e+02
 7.1900e+02 4.4500e+02 3.9000e+02 3.8300e+02 1.7100e+02 1.5100e+02
 2.1700e+02 1.1500e+03 2.2100e+02 4.6500e+02 5.7000e+01 1.2000e+03
 3.4500e+02 2.3900e+02 4.3200e+02 5.5000e+01 1.5700e+02 8.2500e+02
 3.4700e+02 2.0000e+01 2.7400e+02 2.5400e+02 3.0300e+02 2.7200e+02
 6.4000e+01 5.2000e+01 1.5900e+02 1.7000e+01 1.3800e+02 2.5300e+02
 2.1400e+02 2.4800e+02 3.2000e+01 2.6600e+02 4.8000e+01 1.9700e+02
 8.2800e+02 1.1270e+03 2.8700e+02 3.7500e+02 2.7900e+02 4.1500e+02
 3.3200e+02 2.2200e+02 2.9200e+02 5.3000e+01 2.5000e+01 1.7200e+02
 1.6450e+03 3.7000e+02 3.9500e+02 3.6500e+02 3.0800e+02 3.5600e+02
 4.7000e+01 4.0800e+02 3.4000e+01 1.1200e+03 4.2000e+02 3.1300e+02
 5.5000e+02 3.6600e+02 2.0100e+02 3.6000e+02 2.9900e+02 6.0900e+02
 7.9900e+02 4.2500e+02 6.5400e+02 2.8300e+02 4.0200e+02 2.6100e+02
 4.6000e+02 3.3100e+02 5.7500e+02 3.8900e+02 3.3500e+02 4.3000e+01
 3.3700e+02 3.3400e+02 2.7500e+02 4.3500e+02 3.9400e+02 2.1900e+02
 4.6000e+01 4.1000e+01 2.6000e+01 4.5000e+02 2.7100e+02 5.3000e+02
 2.4700e+02 1.2520e+03 3.1200e+02 6.6300e+02 4.7500e+02 2.2800e+02
 1.4000e+03 4.9200e+02 5.0800e+02 2.6200e+02 3.6900e+02 3.2800e+02
 4.1800e+02 5.4400e+02 1.5000e+01 3.4400e+02 3.7300e+02 2.1000e+01
 3.3600e+02 1.1040e+03 2.2700e+02 3.4000e+02 1.6000e+01 3.7600e+02
 2.7600e+02 4.2600e+02 7.9400e+02 4.5300e+02 1.2000e+01 3.7800e+02
 4.4700e+02 3.4200e+02 1.0000e+03 2.4400e+02 5.0500e+02 4.8500e+02
 3.3800e+02 3.4300e+02 4.0100e+02 7.5000e+02 4.8200e+02 4.0600e+02
 3.1400e+02 3.7000e+01 5.9700e+02 3.2200e+02 2.5800e+02 8.0000e+02
 4.9300e+02 2.8400e+02 5.2000e+02 4.7900e+02 1.3670e+03 3.2400e+02
 1.0550e+03 5.4000e+02 1.3500e+03 5.3800e+02 3.9900e+02 4.4800e+02
 5.9300e+02 2.9700e+02 7.7500e+02 3.8600e+02 3.9700e+02 3.2300e+02
 9.9100e+02 5.7800e+02 2.6800e+02 6.2000e+02 5.1500e+02 3.6700e+02
 2.3200e+02 6.8000e+02 4.4600e+02 1.3400e+03 3.3300e+02 3.0100e+02
 8.6400e+02 4.0400e+02 7.1600e+02 8.2700e+02 3.9100e+02 5.6500e+02
 4.2400e+02 4.5800e+02 3.2000e+03 8.8000e+02 5.0700e+02 5.5900e+02
 5.8700e+02 2.7300e+02 6.3600e+02 3.5700e+02 6.6000e+02 4.1000e+02
 1.1730e+03 8.8140e+04 3.9300e+02 4.0300e+02 4.0500e+02 4.8400e+02
 4.4400e+02 8.4500e+02 4.1900e+02 5.1600e+02 5.9100e+02 4.4000e+02
 1.0060e+03 3.2100e+02 5.0300e+02 5.1300e+02 8.5000e+02 3.9000e+01
 3.3900e+02 5.6200e+02 4.9500e+02 1.1000e+04 1.4770e+04 4.6200e+02
 4.1700e+02 3.1900e+02 5.3500e+02 4.5200e+02 9.6700e+02 6.5000e+02
 4.2700e+02 1.1550e+03 5.4200e+02 6.7200e+02 6.2700e+02 4.2200e+02
 3.8200e+02 2.3700e+02 6.6200e+02 4.6800e+02 6.4600e+02 8.4300e+02
 8.0200e+02 3.7200e+02 2.2020e+03 2.6900e+02 2.4000e+01 4.1600e+02
 5.9400e+02 3.6300e+02 4.3300e+02 4.1300e+02 3.6100e+02 3.1800e+02
 8.6000e+02 3.6400e+02 3.0700e+02 6.1700e+02 7.8000e+02 5.3900e+02
 3.7400e+02 3.7100e+02 5.1000e+02 3.8700e+02 3.0200e+02 5.6800e+02
 4.7100e+02 6.8900e+02 2.3000e+01 2.7000e+01 9.3000e+02 3.8100e+02
 6.6100e+02 2.9300e+02 1.4000e+01 3.5900e+02 7.4700e+02 4.4100e+02
 3.8800e+02 1.5150e+03 3.5200e+02 3.7700e+02 4.2800e+02 3.5100e+02
 5.0600e+02 7.0900e+02 9.7000e+02 4.5500e+02 4.6900e+02 1.0070e+03
 4.8600e+02 7.3000e+02 4.6300e+02 3.4900e+02 8.2900e+02 4.5600e+02
 4.7200e+02 5.2200e+02 5.3300e+02 7.1700e+02 1.8750e+03 7.4800e+02
 3.4100e+02 4.2900e+02 3.0400e+02 3.6800e+02 6.4700e+02 4.1100e+02
 8.9000e+02 5.4100e+02 4.3900e+02 9.1700e+02 4.7600e+02 7.1800e+02
 6.7000e+02 6.4000e+02 9.8800e+02 5.7200e+02 1.3000e+03 4.3600e+02
 7.1300e+02 4.9100e+02 6.5500e+02 4.7000e+02 5.4900e+02 5.7300e+02
 9.3900e+02 3.6200e+02 4.0900e+02 7.7100e+02 4.9000e+02 8.5500e+02
 5.6400e+02 5.1900e+02 5.8000e+02 4.2300e+02 6.1900e+02 9.7400e+02
 5.3600e+02 7.4000e+02 7.6700e+02 8.5400e+02 1.0110e+03 1.7500e+03
 8.4100e+02 7.0600e+02 7.7360e+03 8.3000e+02 1.0400e+03 7.7000e+02
 5.7400e+02 1.4630e+03 4.1200e+02 7.0200e+02 4.8300e+02 5.2500e+02
 3.9800e+02 6.6700e+02 8.9500e+02 5.8500e+02 1.9000e+03 5.4600e+02
 2.8900e+02 7.6400e+02 1.1150e+03 7.8800e+02 5.4500e+02 3.8400e+02
 8.5700e+02 3.4800e+02 4.9400e+02 3.1100e+02 9.0800e+02 5.2600e+02
 3.2700e+02 4.9600e+02 4.9900e+02 1.0560e+03 4.5900e+02 9.6000e+02
 1.3600e+03 2.7730e+03 1.5500e+03 1.0150e+03 4.5700e+02 3.7900e+02
 1.1000e+03 2.3800e+03 6.5700e+02 9.6100e+02 8.7500e+02 7.1000e+02
 6.8600e+02 5.5100e+02 9.2500e+02 6.9800e+02 6.1400e+02 7.9000e+02
 4.3700e+02 5.0400e+02 7.6100e+02 5.5500e+02 3.2900e+02 8.7000e+02
 4.7800e+02 1.0390e+03 1.4780e+03 1.1890e+03 6.5200e+02 4.8900e+02
 9.5900e+02 5.7700e+02 4.6700e+02 6.3200e+02 3.9600e+02 9.5000e+02
 2.3000e+03 9.9800e+02 4.4900e+02 1.8890e+03 1.0250e+03 5.6300e+02
 9.2600e+03 6.7100e+02 7.2900e+02 6.4500e+02 6.7900e+02 8.7800e+02
 4.8800e+02 6.0700e+02 7.4400e+02 3.0000e+00 6.9000e+02 2.1590e+03
 4.4300e+02 1.3210e+03 5.1400e+02 4.8100e+02 3.5800e+02 4.0700e+02
 5.5300e+02 9.4200e+02 7.0500e+02 7.3200e+02 5.5700e+02 6.1500e+02
 8.6500e+02 6.0500e+02 8.9440e+03 8.8500e+02 4.6100e+02 1.0920e+03
 5.0900e+02 1.4900e+03 5.2100e+02 5.4800e+02 5.2900e+02 4.2100e+02
 4.8700e+02 1.3000e+01 6.0200e+02 9.0700e+02 1.1900e+03 5.0100e+02
 5.9500e+02 7.2500e+02 6.8500e+02 4.3400e+02 7.2700e+02 1.2650e+03
 2.2000e+01 1.2400e+03 9.8200e+02 6.7500e+02 1.0890e+03 7.2380e+03
 9.0200e+02 7.4200e+03 4.7300e+02 6.7300e+02 8.3200e+02 1.9940e+03
 8.3500e+02 9.9400e+02 9.6900e+02 6.4800e+02 8.0700e+02 5.2800e+02
 1.0100e+03 1.0900e+03 1.9500e+03 5.6700e+02 1.4610e+03 7.4200e+02
 5.3100e+02 4.7700e+02 7.9100e+02 8.1800e+02 8.2200e+02 6.1600e+02
 7.1500e+02 8.8700e+02 1.6520e+03 7.8500e+02 6.5600e+02 5.5400e+02
 6.8800e+02 2.2400e+03 7.5700e+02 1.1390e+03 1.1250e+04 5.6600e+02
 7.8300e+02 5.3400e+02 5.1100e+02 1.5348e+04 6.3000e+02 8.6700e+02
 8.6800e+02 1.2800e+03 8.6200e+02 5.5600e+02 2.4380e+03 5.7900e+02
 1.1600e+03 1.7430e+03 5.5200e+02 1.6800e+03 7.6000e+02 5.2700e+02
 7.5500e+02 8.1000e+02 6.4200e+02 5.7600e+02 2.0410e+03 6.6900e+02
 7.2100e+02 6.3900e+02 5.9000e+02 6.1200e+03 7.1100e+02 4.9800e+02
 6.9900e+02 5.2300e+02 5.5800e+02 7.3500e+02 7.0000e+00 1.0260e+03
 5.8900e+02 1.1570e+03 1.2820e+03 2.4000e+03 1.4820e+03 8.7200e+02
 7.5300e+02 1.7770e+03 9.0500e+02 5.8800e+02 5.1800e+02 1.4430e+03
 9.0400e+02 6.9400e+02 7.2800e+02 5.7000e+02 8.5600e+02 8.5300e+02
 1.4500e+03 4.1400e+02 9.7600e+02 1.2040e+03 3.0000e+03 9.8500e+02
 6.3400e+02 6.7600e+02 9.8000e+02 4.6600e+02 4.6400e+02 1.0420e+03
 7.1200e+02 8.8900e+02 6.3100e+02 7.3900e+02 9.2000e+02 1.0360e+03
 1.5290e+03 7.5800e+02 1.3940e+03 1.1910e+03 1.3800e+03 5.1200e+02
 9.8600e+02 1.8980e+03 1.1250e+03 5.4700e+02 1.0340e+03 2.1700e+03
 1.1650e+03 5.5960e+03 9.5700e+02 7.1400e+02 9.4400e+02 2.2000e+03
 1.1520e+03 9.5400e+02 2.3070e+03 1.2190e+03 1.1410e+03 7.0300e+02
 6.0400e+02 8.0800e+02 6.2500e+02 5.9800e+02 7.9300e+02 1.2380e+03
 5.9200e+02 2.0000e+03 1.5710e+03 7.4100e+02 5.2400e+02 9.4500e+02
 6.2200e+02 6.3300e+02 1.3370e+03 5.6900e+02 2.8180e+03 1.6500e+03
 1.3050e+03 1.2600e+03 7.5200e+02 1.1050e+03 1.1460e+03 5.0000e+03
 6.2300e+02 1.6000e+03 6.5100e+02 7.3500e+03 9.6800e+02 7.5100e+02
 7.4900e+02 6.0800e+02 1.4050e+03 1.0540e+03 9.5500e+02 5.0200e+02
 9.4000e+02 5.8600e+02 2.8500e+03 1.1340e+03 1.1690e+03 1.0235e+04
 5.9900e+02 7.2200e+02 9.3200e+02 7.0700e+02 1.3900e+03 1.6870e+03
 5.6100e+02 6.3700e+02 1.0000e+04 1.8010e+03 2.3430e+03 5.1700e+02
 6.4400e+02 8.7970e+03 2.2950e+03 1.3910e+03 1.8000e+03 4.9700e+02
 8.2000e+02 6.6400e+02 6.2800e+02 8.4800e+02 1.9310e+03 1.0160e+03
 7.0800e+02 7.4300e+02 7.3800e+02 8.8200e+02 1.3020e+03 6.8200e+02
 1.4650e+03 8.0300e+02 8.2100e+02 1.3110e+03 6.6500e+02 2.7110e+03
 1.0210e+03 6.8300e+02 2.8000e+03 8.7300e+02 1.1660e+03 3.3900e+03
 4.5100e+02 8.1900e+02 9.2900e+02 6.9500e+02 1.6200e+03 8.8400e+02
 4.7400e+02 1.8160e+03 1.5600e+03 1.3850e+03]
Unique values in column 'surface_land_sqm' is : [  nan  680.  505. ... 2964. 2332. 4660.]
Unique values in column 'nbr_frontages' is : [ 2. nan  4.  3.  1.  9.  6.  7. 15.  8. 13. 12. 47.  5. 10. 18.]
Unique values in column 'nbr_bedrooms' is : [  2.   3.   1.   4.   6.   7.   5.   0.  20.  10.   9.   8.  19.  13.
  14.  12.  15.  27.  25.  16.  30.  21.  11.  18.  17.  22.  24.  39.
  47.  36.  48. 200.  31.  34.  26.  90.  28.  40.  44.  35. 100.  23.
  37.  41.  70.  45.  60.]
Unique values in column 'terrace_sqm' is : [5.000e+00 0.000e+00       nan 2.000e+01 1.100e+01 2.400e+01 7.000e+00
 4.000e+01 1.600e+01 1.200e+01 1.300e+01 4.500e+01 8.000e+00 1.400e+01
 1.000e+01 2.500e+01 2.300e+01 3.800e+01 1.800e+01 2.600e+01 2.700e+01
 2.200e+01 3.500e+01 5.100e+01 8.100e+01 1.500e+01 6.000e+00 1.000e+00
 3.600e+01 3.000e+01 9.000e+00 3.000e+00 7.000e+01 8.800e+01 4.000e+00
 2.100e+01 2.800e+01 2.300e+02 1.700e+01 5.900e+01 2.000e+00 7.600e+01
 7.900e+01 1.900e+01 1.120e+02 5.200e+01 3.700e+01 5.000e+01 6.400e+01
 4.800e+01 1.900e+02 4.400e+01 1.140e+02 2.900e+01 3.100e+01 6.000e+01
 1.000e+02 4.100e+01 1.180e+02 5.600e+01 2.600e+02 1.050e+02 5.800e+01
 2.000e+02 3.200e+01 1.660e+02 6.800e+01 4.200e+01 8.500e+01 4.600e+01
 1.100e+02 1.500e+02 8.400e+01 3.300e+01 1.600e+02 5.500e+01 4.900e+01
 1.620e+02 3.900e+01 1.020e+02 3.400e+01 7.500e+01 5.300e+01 1.260e+02
 9.200e+01 9.000e+01 4.700e+01 1.350e+02 1.130e+02 1.200e+02 8.000e+01
 1.240e+02 1.060e+02 6.200e+01 1.540e+02 3.466e+03 5.400e+01 4.300e+01
 1.090e+02 4.950e+02 9.100e+01 8.600e+01 2.100e+02 6.300e+01 1.820e+02
 8.200e+01 7.100e+01 1.690e+02 1.750e+02 6.900e+01 1.320e+02 2.020e+02
 6.500e+01 1.680e+02 8.700e+01 6.700e+01 1.800e+02 8.300e+01 1.030e+02
 6.100e+01 7.700e+01 1.420e+02 3.110e+02 1.040e+02 1.110e+02 5.000e+02
 9.300e+01 7.200e+01 9.500e+01 7.300e+01 1.610e+02 5.700e+01 9.700e+01
 3.900e+02 8.900e+01 4.500e+02 2.320e+02 1.300e+02 1.700e+02 1.210e+02
 6.600e+01 1.640e+02 2.200e+02 1.010e+02 9.900e+01 7.800e+01 1.330e+02
 1.400e+02 1.000e+03 3.750e+02 5.430e+02 1.250e+02 2.800e+02 3.286e+03
 1.150e+02 1.160e+02 7.400e+01 1.070e+02 5.500e+02 1.280e+02 1.470e+02
 9.800e+01 6.750e+02 1.220e+02 1.840e+02 1.370e+02 1.670e+02 1.360e+02
 1.310e+02 3.820e+02 9.400e+01 1.270e+02 1.380e+02 2.500e+02 1.440e+02
 2.769e+03 1.850e+02 1.080e+02 2.450e+02 2.400e+02 1.780e+02 3.000e+02
 1.390e+02 9.730e+02 2.010e+02 1.760e+02 2.250e+02 2.700e+02 3.250e+02
 2.360e+02 1.710e+02 1.530e+02 2.520e+02 1.870e+02 1.450e+02 1.340e+02
 1.560e+02 3.100e+02 4.550e+02 9.480e+02 1.740e+02 1.790e+02 1.950e+02
 1.430e+02 1.230e+02 5.530e+02 6.000e+02 2.040e+02 2.130e+02 3.120e+02
 7.600e+02 1.770e+02 3.800e+02 1.880e+02 2.771e+03 1.650e+02 2.150e+02
 7.810e+02 1.520e+02 2.070e+02 7.000e+02 4.000e+02 2.597e+03 3.600e+02
 1.720e+02 3.580e+02 3.400e+02 4.800e+02 2.122e+03]
Unique values in column 'garden_sqm' is : [   0.  142.   35. ... 1545. 2165.  631.]
Unique values in column 'primary_energy_consumption_sqm' is : [  231.   221.    nan ... 10851.   956. 32991.]
Unique values in column 'cadastral_income' is : [ 922.  406.   nan ... 1746. 6458. 1867.]

In [28]:
data = df.select_dtypes(include='int64')

for column in data.columns:
    unique_values = data[column].unique()
    print(f"Unique values in column '{column}' is : {unique_values}")

Unique values in column 'zip_code' is : [2050 9185 1070 ... 5021 9572 6533]
Unique values in column 'fl_furnished' is : [0 1]
Unique values in column 'fl_open_fire' is : [0 1]
Unique values in column 'fl_terrace' is : [1 0]
Unique values in column 'fl_garden' is : [0 1]
Unique values in column 'fl_swimming_pool' is : [0 1]
Unique values in column 'fl_floodzone' is : [0 1]
Unique values in column 'fl_double_glazing' is : [1 0]

## Remove rows with missing values

In [29]:
# Function to drop observations with missing values
def drop_missing_values(df):
    """
    Drop observations with missing values in specific columns.
    Parameters:
    - df: pandas DataFrame, the DataFrame to be cleaned
    Returns:
    - pandas DataFrame, the cleaned DataFrame
    """
    # Drop missing observations for columns 'province', 'region', 'locality'
    df_cleaned = df.dropna(subset=['province', 'region', 'locality'])

    # Check if there are any missing values left in the columns
    if df_cleaned['province'].isnull().any() or df_cleaned['region'].isnull().any() or df_cleaned['locality'].isnull().any():
        print("Warning: Missing values still present after dropping.")
    else:
        print("Missing values were successfully dropped.")

    return df_cleaned

# Name the dataframe
df = drop_missing_values(df)
display(df.head())

Missing values were successfully dropped.

,price,property_type,subproperty_type,region,province,locality,zip_code,construction_year,total_area_sqm,surface_land_sqm,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,1963.0,100.0,NaN,...,0,0.0,0,0,NaN,231.0,C,GAS,1,922.0
1,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,NaN,NaN,680.0,...,0,0.0,0,0,NaN,221.0,C,NaN,1,406.0
2,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,NaN,142.0,NaN,...,0,0.0,0,1,AS_NEW,NaN,NaN,GAS,0,NaN
3,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,2024.0,187.0,505.0,...,0,0.0,0,1,NaN,99.0,A,NaN,0,NaN
4,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,2022.0,169.0,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN

## Remove outliers

**Handle outliers per column**

In [30]:
def handle_outliers(df, columns_to_remove_outliers, zscore_threshold=3):
    """
    Handle outliers in specified columns of a DataFrame.
    Parameters:
        df (DataFrame): Input DataFrame.
        columns_to_remove_outliers (list): List of column names to remove outliers.
        zscore_threshold (float): Z-score threshold for identifying outliers. Default is 3.
    Returns:
        DataFrame: DataFrame with outliers removed.
    """
    # Create a copy of the DataFrame to avoid modifying the original DataFrame
    df_outliers = df.copy()

    # Iterate through each column in columns_to_remove_outliers
    for column_name in columns_to_remove_outliers:
        # Convert the column to a numeric data type, ignoring errors
        df_outliers[column_name] = pd.to_numeric(df_outliers[column_name], errors='coerce')

        # Calculate Z-scores for the specified column
        z_scores = (df_outliers[column_name] - df_outliers[column_name].mean()) / df_outliers[column_name].std()

        # Create a mask to identify outliers
        outlier_mask = np.abs(z_scores) > zscore_threshold

        # Print the columns for which outliers are being removed
        print("Removing outliers for column: " + column_name)

        # Count missing values
        missing_values_count = df_outliers[column_name].isna().sum()
        print("Number of missing values in " + column_name + ": " + str(missing_values_count))

    return df_outliers

# Call the modified function
columns_to_remove_outliers = df.select_dtypes(exclude = 'object').columns
house_filtered = handle_outliers(df, columns_to_remove_outliers)

df.shape

Removing outliers for column: price
Number of missing values in price: 0
Removing outliers for column: zip_code
Number of missing values in zip_code: 0
Removing outliers for column: construction_year
Number of missing values in construction_year: 33388
Removing outliers for column: total_area_sqm
Number of missing values in total_area_sqm: 7615
Removing outliers for column: surface_land_sqm
Number of missing values in surface_land_sqm: 36254
Removing outliers for column: nbr_frontages
Number of missing values in nbr_frontages: 26344
Removing outliers for column: nbr_bedrooms
Number of missing values in nbr_bedrooms: 0
Removing outliers for column: fl_furnished
Number of missing values in fl_furnished: 0
Removing outliers for column: fl_open_fire
Number of missing values in fl_open_fire: 0
Removing outliers for column: fl_terrace
Number of missing values in fl_terrace: 0
Removing outliers for column: terrace_sqm
Number of missing values in terrace_sqm: 13140
Removing outliers for column: fl_garden
Number of missing values in fl_garden: 0
Removing outliers for column: garden_sqm
Number of missing values in garden_sqm: 2939
Removing outliers for column: fl_swimming_pool
Number of missing values in fl_swimming_pool: 0
Removing outliers for column: fl_floodzone
Number of missing values in fl_floodzone: 0
Removing outliers for column: primary_energy_consumption_sqm
Number of missing values in primary_energy_consumption_sqm: 26564
Removing outliers for column: fl_double_glazing
Number of missing values in fl_double_glazing: 0
Removing outliers for column: cadastral_income
Number of missing values in cadastral_income: 44964

(75508, 27)

## Write cleaned dataframe to csv

In [31]:
# Save the cleaned dataframe as Ã§leaned_properties.csv
df.to_csv("../data/cleaned_properties.csv", index=False)